<!-- =========================================================================================
  File Name: LanguageCreate.vue
  Description: Language Create Page
  ----------------------------------------------------------------------------------------
  Item Name: Tadween - Vuejs, HTML & Laravel Language Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/language/pixinvent
========================================================================================== -->

<template>
  <div id="page-language-create">


    <vx-card>

      <div slot="no-body" class="tabs-container px-6 pt-6">

        <vs-tabs v-model="activeTab" class="tab-action-btn-fill-conatiner">
          <vs-tab label="Information" icon-pack="feather" icon="icon-language">
            <div class="tab-text">
              <language-create-tab-account @change_tab="chnage_tab" class="mt-4" />
            </div>
          </vs-tab>
        </vs-tabs>

      </div>

    </vx-card>
  </div>
</template>

<script>
import LanguageCreateTabAccount     from './LanguageCreateTabAccount.vue'

import moduleLanguage from '@/store/language/moduleLanguage.js'

export default {
  components: {
    LanguageCreateTabAccount,
  },
  data () {
    return {
      language_data: null,
      language_not_found: false,

      /*
        This property is created for fetching latest data from API when tab is changed

        Please check it's watcher
      */
      activeTab: 0
    }
  },
  methods: {

    chnage_tab(tab){
        this.activeTab = tab;
    }

  },
  created () {
    // Register Module LanguageManagement Module
    if (!moduleLanguage.isRegistered) {
      this.$store.registerModule('language', moduleLanguage)
      moduleLanguage.isRegistered = true
    }


  }
}

</script>
