<!-- =========================================================================================
  File Name: AdminEdit.vue
  Description: Admin Edit Page
  ----------------------------------------------------------------------------------------
  Item Name: Tadween - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/admin/pixinvent
========================================================================================== -->

<template>
  <div id="page-admin-edit">

    <vs-alert color="danger" title="News Not Found" :active.sync="service_not_found">
      <span>News record with id: {{ $route.params.servicesId }} not found. </span>
      <span>
        <span>Check </span><router-link :to="{name:'page-service-list'}" class="text-inherit underline">All News</router-link>
      </span>
    </vs-alert>

    <vx-card v-if="services_data">

      <div slot="no-body" class="tabs-container px-6 pt-6">

        <vs-tabs v-model="activeTab" class="tab-action-btn-fill-conatiner">
          <vs-tab label="Edit" icon-pack="feather" icon="icon-service">
            <div class="tab-text">
              <services-edit-tab-account @change_tab="chnage_tab" class="mt-4" :data="services_data" />
            </div>
          </vs-tab>

        </vs-tabs>

      </div>

    </vx-card>
  </div>
</template>

<script>
import ServicesEditTabAccount from './ServicesEditTabAccount.vue'

// Store Module
import moduleECommerce from '@/store/eCommerce/moduleECommerce.js'

export default {
  components: {
      ServicesEditTabAccount
  },
  data () {
    return {
      services_data: null,
      service_not_found: false,

      /*
        This property is created for fetching latest data from API when tab is changed

        Please check it's watcher
      */
      activeTab: 0
    }
  },
  watch: {
    activeTab () {
      this.fetch_services_data(this.$route.params.servicesId)
    }
  },
  methods: {
    showUpdatedSuccess () {
      this.$vs.notify({
        color: 'success',
        title: 'Service Updated',
        text: 'Service was successfully updated'
      })
    },

    fetch_services_data (servicesId) {
      this.$store.dispatch('moduleECommerce/fetchService', servicesId)
        .then(res => {
          this.services_data = res.data
        })
        .catch(err => {
          if (err.response.status === 404) {
            this.service_not_found = true
            return
          }
          console.error(err)
        })

    },
    chnage_tab(tab){
        this.activeTab = tab;
        this.showUpdatedSuccess();
    }
  },
  created () {
    // Register Module ServiceManagement Module
    if (!moduleECommerce.isRegistered) {
      this.$store.registerModule('moduleECommerce', moduleECommerce)
        moduleECommerce.isRegistered = true
    }
      console.log(this.$route.params)
    this.fetch_services_data(this.$route.params.servicesId)
  }
}

</script>
