<!-- =========================================================================================
  File Name: TranslationCreate.vue
  Description: Translation Create Page
  ----------------------------------------------------------------------------------------
  Item Name: Tadween - Vuejs, HTML & Laravel Translation Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/translation/pixinvent
========================================================================================== -->

<template>
  <div id="page-translation-create">


    <vx-card>

      <div slot="no-body" class="tabs-container px-6 pt-6">

        <vs-tabs v-model="activeTab" class="tab-action-btn-fill-conatiner">
          <vs-tab label="Dashboard" icon-pack="feather" icon="icon-translation">
            <div class="tab-text">
              <translation-dashboard @change_tab="chnage_tab" class="mt-4" />
            </div>
          </vs-tab>

          <vs-tab label="Api" icon-pack="feather" icon="icon-translation">
            <div class="tab-text">
              <translation-api @change_tab="chnage_tab" class="mt-4" />
            </div>
          </vs-tab>

        </vs-tabs>

      </div>

    </vx-card>
  </div>
</template>

<script>
import TranslationDashboard     from './TranslationDashboard.vue'
import TranslationApi     from './TranslationApi.vue'

import moduleTranslation from '@/store/translation/moduleTranslation.js'
import moduleLanguage from '@/store/language/moduleLanguage.js'

export default {
  components: {
    TranslationDashboard,
    TranslationApi
  },
  data () {
    return {
      translation_data: null,
      translation_not_found: false,

      /*
        This property is created for fetching latest data from API when tab is changed

        Please check it's watcher
      */
      activeTab: 0
    }
  },
  methods: {

    chnage_tab(tab){
        this.activeTab = tab;
    }

  },
  created () {
    // Register Module TranslationManagement Module
    if (!moduleTranslation.isRegistered) {
      this.$store.registerModule('translation', moduleTranslation)
      moduleTranslation.isRegistered = true
    }

  }
}

</script>
