<!-- =========================================================================================
  File Name: UserCreateTabInformation.vue
  Description: User Create Information Tab content
  ----------------------------------------------------------------------------------------
  Item Name: Tadween - Vuejs, HTML & Laravel Translation Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->

<template>
  <div id="user-edit-tab-info">

    <!-- Content Row -->
    <div class="vx-row">

      <div class="vx-col md:w-4/4 w-full">
        <h3 class="text-center">Dashboard</h3>
      </div>

    </div>
    <!-- Content Row -->
    <div class="vx-row">

      <div class="vx-col md:w-1/4 w-full">
        <p class="key">Dashboard</p>
      </div>

      <div class="vx-col md:w-3/4 w-full">
        <vs-input class="w-full mt-4" v-model="translation.dashboard" placeholder="Dashboard" v-validate="'required'" name="key" />
        <span class="text-danger text-sm"  v-show="errors.has('key')">{{ errors.first('key') }}</span>
      </div>

    </div>

    <div class="vx-row">

      <div class="vx-col md:w-1/4 w-full">
        <p class="key">Edit Profile</p>
      </div>

      <div class="vx-col md:w-3/4 w-full">
        <vs-input class="w-full mt-4" v-model="translation.edit_profile" placeholder="Edit Profile" v-validate="'required'" name="key" />
        <span class="text-danger text-sm"  v-show="errors.has('edit_profile')">{{ errors.first('edit_profile') }}</span>
      </div>

    </div>

    <div class="vx-row">

      <div class="vx-col md:w-1/4 w-full">
        <p class="key">Wholesale Seller</p>
      </div>

      <div class="vx-col md:w-3/4 w-full">
        <vs-input class="w-full mt-4" v-model="translation.wholesale_seller" placeholder="Wholesale Seller" v-validate="'required'" name="wholesale_seller" />
        <span class="text-danger text-sm"  v-show="errors.has('wholesale_seller')">{{ errors.first('wholesale_seller') }}</span>
      </div>

    </div>

    <div class="vx-row">

      <div class="vx-col md:w-1/4 w-full">
        <p class="key">Retailer</p>
      </div>

      <div class="vx-col md:w-3/4 w-full">
        <vs-input class="w-full mt-4" v-model="translation.retailer" placeholder="Retailer" v-validate="'required'" name="retailer" />
        <span class="text-danger text-sm" v-show="errors.has('retailer')">{{ errors.first('retailer') }}</span>
      </div>

    </div>

    <div class="vx-row">

      <div class="vx-col md:w-1/4 w-full">
        <p class="key">Representative</p>
      </div>

      <div class="vx-col md:w-3/4 w-full">
        <vs-input class="w-full mt-4" v-model="translation.representative" placeholder="Representative" v-validate="'required'" name="representative" />
        <span class="text-danger text-sm" v-show="errors.has('representative')">{{ errors.first('representative') }}</span>
      </div>

    </div>

    <div class="vx-row">
      <div class="vx-col w-full">
        <div class="mt-8 flex flex-wrap items-center justify-end">
          <vs-button class="ml-auto mt-2" @click="save_changes" :disabled="!validateForm">Save Changes</vs-button>
        </div>
      </div>
    </div>

  </div>
</template>

<script>

export default {

  created(){
    var language_id = this.language_id;

    this.$store.dispatch('translation/fetchTranslations' , {
      type:'dashboard',
      language_id
    }).then(res=>{

      this.translation = Object.assign({}, res); // {0:"a", 1:"b", 2:"c"}

    })

  },
  data() {
    return {
      translation: {},
      language_id:this.$route.params.languageId,
    }
  },
  computed: {
    validateForm () {
      return !this.errors.any()
    }
  },
  methods: {
    capitalize (str) {
      return str.slice(0, 1).toUpperCase() + str.slice(1, str.length)
    },
    showError (message) {
      this.$vs.notify({
        color: 'danger',
        text: message
      })
    },
    showCreatedSuccess () {
      this.$vs.notify({
        color: 'success',
        title: 'Translation Updated',
        text: 'Translation was successfully updated'
      })
    },
    save_changes () {
      /* eslint-disable */
      if (!this.validateForm) return

      var language_id = this.language_id;
      var translation = this.translation;

      this.$store.dispatch('translation/saveTranslation' , {type:'dashboard' , language_id , translation}).then( res =>{

        this.$router.push({name:'dashboard-language-list'});
        this.showCreatedSuccess()

      }).catch(err =>{
        this.showError(err);
      });

    },
    reset_user() {
      this.translation = JSON.parse(JSON.stringify(this.translation));
    },
  }
}
</script>

<style scopped>

  .key{
    margin-top:1.5rem;
  }

</style>
