<!-- =========================================================================================
  File Name: UserCreateTabInformation.vue
  Description: User Create Information Tab content
  ----------------------------------------------------------------------------------------
  Item Name: Tadween - Vuejs, HTML & Laravel Translation Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->

<template>
  <div id="user-edit-tab-info">

    <!-- Content Row -->
    <div class="vx-row">

      <div class="vx-col md:w-4/4 w-full">
        <h3 class="text-center">Messages</h3>
      </div>

    </div>
    <!-- Content Row -->
    <div class="vx-row">
      <div class="vx-col md:w-1/4 w-full">
        <p class="key">Success</p>
      </div>

      <div class="vx-col md:w-3/4 w-full">

        <vs-input class="w-full mt-4" v-model="translation.success" placeholder="Success" v-validate="'required'" name="success" />
        <span class="text-danger text-sm"  v-show="errors.has('success')">{{ errors.first('success') }}</span>

      </div>
    </div>

    <div class="vx-row">
      <div class="vx-col md:w-1/4 w-full">
        <p class="key">Error</p>
      </div>

      <div class="vx-col md:w-3/4 w-full">

        <vs-input class="w-full mt-4" v-model="translation.error" placeholder="Error" v-validate="'required'" name="error" />
        <span class="text-danger text-sm"  v-show="errors.has('error')">{{ errors.first('error') }}</span>

      </div>
    </div>

    <div class="vx-row">
      <div class="vx-col md:w-1/4 w-full">
        <p class="key">Updated</p>
      </div>

      <div class="vx-col md:w-3/4 w-full">

        <vs-input class="w-full mt-4" v-model="translation.updated" placeholder="Updated" v-validate="'required'" name="updated" />
        <span class="text-danger text-sm"  v-show="errors.has('updated')">{{ errors.first('updated') }}</span>

      </div>
    </div>

    <div class="vx-row">
      <div class="vx-col md:w-1/4 w-full">
        <p class="key">Deleted</p>
      </div>

      <div class="vx-col md:w-3/4 w-full">

        <vs-input class="w-full mt-4" v-model="translation.deleted" placeholder="Deleted" v-validate="'required'" name="deleted" />
        <span class="text-danger text-sm"  v-show="errors.has('deleted')">{{ errors.first('deleted') }}</span>

      </div>
    </div>

    <div class="vx-row">
      <div class="vx-col md:w-1/4 w-full">
        <p class="key">Order Created</p>
      </div>

      <div class="vx-col md:w-3/4 w-full">

        <vs-input class="w-full mt-4" v-model="translation.order_created" placeholder="Order Created" v-validate="'required'" name="order_created" />
        <span class="text-danger text-sm"  v-show="errors.has('order_created')">{{ errors.first('order_created') }}</span>

      </div>
    </div>

    <div class="vx-row">
      <div class="vx-col w-full">
        <div class="mt-8 flex flex-wrap items-center justify-end">
          <vs-button class="ml-auto mt-2" @click="save_changes" :disabled="!validateForm">Save Changes</vs-button>
        </div>
      </div>
    </div>

  </div>
</template>

<script>


export default {


  created(){
    var language_id = this.language_id;

    this.$store.dispatch('translation/fetchTranslations' , {
      type:'api',
      language_id
    }).then(res=>{

      this.translation = Object.assign({}, res); // {0:"a", 1:"b", 2:"c"}

    })

  },
  data() {
    return {
      translation: {},
      language_id:this.$route.params.languageId,
    }
  },
  computed: {
    validateForm () {
      return !this.errors.any()
    }
  },
  methods: {
    capitalize (str) {
      return str.slice(0, 1).toUpperCase() + str.slice(1, str.length)
    },
    showError (message) {
      this.$vs.notify({
        color: 'danger',
        text: message
      })
    },
    showCreatedSuccess () {
      this.$vs.notify({
        color: 'success',
        title: 'Translation Updated',
        text: 'Translation was successfully updated'
      })
    },
    save_changes () {

      if (!this.validateForm) return

      var language_id = this.language_id;
      var translation = this.translation;

      this.$store.dispatch('translation/saveTranslation' , {type:'api' , language_id , translation}).then( res =>{

        this.$router.push({name:'dashboard-language-list'});
        this.showCreatedSuccess()

      }).catch(err =>{
        this.showError(err);
      });

    },
    reset_user() {
      this.translation = JSON.parse(JSON.stringify(this.translation));
    },
  }
}
</script>

<style scopped>

  .key{
    margin-top:1.5rem;
  }

</style>
