<!-- =========================================================================================
  File Name: DashboardAnalytics.vue
  Description: Dashboard Analytics
  ----------------------------------------------------------------------------------------
  Item Name: Tadween - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->

<template>
  <div id="dashboard-analytics">
    <div class="vx-row">


<!--      &lt;!&ndash; CARD 2: SUBSCRIBERS GAINED &ndash;&gt;-->
<!--      <div class="vx-col w-full sm:w-1/2 md:w-1/2 lg:w-1/4 xl:w-1/4 mb-base">-->
<!--        <statistics-card-line icon="UsersIcon" :statistic="wholesalesellers_count" statisticTitle="Wholesale Sellers" type="area"></statistics-card-line>-->
<!--      </div>-->

<!--      &lt;!&ndash; CARD 3: ORDER RECIEVED &ndash;&gt;-->
<!--      <div class="vx-col w-full sm:w-1/2 md:w-1/2 lg:w-1/4 xl:w-1/4 mb-base">-->
<!--        <statistics-card-line icon="ShoppingBagIcon" :statistic="orders_count" statisticTitle="Orders Received" color="warning" type="area"></statistics-card-line>-->
<!--      </div>-->

<!--      <div class="vx-col w-full sm:w-1/2 md:w-1/2 lg:w-1/4 xl:w-1/4 mb-base">-->
<!--        <statistics-card-line icon="ListIcon" :statistic="products_count" statisticTitle="Products" type="area"></statistics-card-line>-->
<!--      </div>-->


<!--      <div class="vx-col w-full sm:w-1/2 md:w-1/2 lg:w-1/4 xl:w-1/4 mb-base">-->
<!--        <statistics-card-line icon="FlagIcon" :statistic="categories_count" statisticTitle="Categories" color="warning" type="area"></statistics-card-line>-->
<!--      </div>-->

    </div>

    <div class="mt-5">
<!--      <DashboardLineChart v-if="orders_statistics.length > 0" :data="order_data" :options="order_options" :height="200" />-->
    </div>

    <div class="mt-5">
<!--      <DashboardLineChart v-if="orders_statistics.length > 0" :data="wholesalesellers_data" :options="wholesalesellers_options" :height="200" />-->
    </div>

  </div>
</template>

<script>
import DashboardLineChart from './DashboardLineChart'
import StatisticsCardLine from '@/components/statistics-cards/StatisticsCardLine.vue'
import analyticsData from './analyticsData.js'

export default {
  data () {
    return {
      analyticsData,
      orders_count:0,
      wholesalesellers_count:0,
      products_count:0,
      categories_count:0,
      orders_statistics:[],
      wholesalesellers_statistics:[],
    }
  },
  components: {
    StatisticsCardLine,
    DashboardLineChart
  },
  computed:{

    order_data() {

      var labels = this.orders_statistics.map(({month}) => month);

      // var datasets = [
      //   {
      //     data: this.orders_statistics.map(({total}) => total),
      //     label: 'Orders',
      //     borderColor: '#7367F0',
      //     fill: false
      //   },
      // ];

      return {
        labels,
        // datasets
      };

    },
    order_options(){
      var title = {
        display: true,
        text: 'Orders Statistics'
      }

      return title;
    },

    wholesalesellers_data() {

      var labels = this.wholesalesellers_statistics.map(({month}) => month);

      var datasets = [
        {
          data: this.wholesalesellers_statistics.map(({total}) => total),
          label: 'Wholesale Sellers',
          borderColor: '#7367F0',
          fill: false
        },
      ];

      return {
        labels,
        datasets
      };

    },
    wholesalesellers_options(){
      var title = {
        display: true,
        text: 'Wholesale Sellers Statistics'
      }

      return title;
    },

  },

  created () {

    this.$store.dispatch('global/statistics').then((data)=>{


      // this.orders_statistics = data.orders_statistics;
      // this.wholesalesellers_statistics = data.wholesalesellers_statistics;
      //
      // this.orders_count = data.orders_count ;
      // this.wholesalesellers_count = data.wholesalesellers_count ;
      // this.products_count = data.products_count ;
      // this.categories_count = data.categories_count ;


    })

  }
}
</script>

<style lang="scss">
/*! rtl:begin:ignore */
#dashboard-analytics {
  .greet-user{
    position: relative;

    .decore-left{
      position: absolute;
      left:0;
      top: 0;
    }
    .decore-right{
      position: absolute;
      right:0;
      top: 0;
    }
  }

  @media(max-width: 576px) {
    .decore-left, .decore-right{
      width: 140px;
    }
  }
}
/*! rtl:end:ignore */
</style>
