<!-- =========================================================================================
  File Name: AdminEdit.vue
  Description: Admin Edit Page
  ----------------------------------------------------------------------------------------
  Item Name: Tadween - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/admin/pixinvent
========================================================================================== -->

<template>
    <div id="page-admin-edit">

        <vs-alert color="danger" title="News Not Found" :active.sync="config_not_found">
            <span>News record with id: {{ $route.params.configsId }} not found. </span>
            <span>
        <span>Check </span><router-link :to="{name:'page-config-list'}" class="text-inherit underline">All News</router-link>
      </span>
        </vs-alert>

        <vx-card v-if="configs_data">

            <div slot="no-body" class="tabs-container px-6 pt-6">

                <vs-tabs v-model="activeTab" class="tab-action-btn-fill-conatiner">
                    <vs-tab label="Update General Settings" icon-pack="feather" icon="icon-config">
                        <div class="tab-text">
                            <settings-update-tab-account @change_tab="chnage_tab" class="mt-4" :data="configs_data" />
                        </div>
                    </vs-tab>

                </vs-tabs>

            </div>

        </vx-card>
    </div>
</template>

<script>
    import SettingsUpdateTabAccount from './SettingsUpdateTabAccount.vue'

    // Store Module
    import moduleECommerce from '@/store/eCommerce/moduleECommerce.js'

    export default {
        components: {
            SettingsUpdateTabAccount
        },
        data () {
            return {
                configs_data: null,
                config_not_found: false,

                /*
                  This property is created for fetching latest data from API when tab is changed

                  Please check it's watcher
                */
                activeTab: 0
            }
        },
        watch: {
            activeTab () {
                this.fetch_configs_data(this.$route.params.configsId)
            }
        },
        methods: {
            showUpdatedSuccess () {
                this.$vs.notify({
                    color: 'success',
                    title: 'Setting Updated',
                    text: 'Setting was successfully updated'
                })
            },

            fetch_configs_data (configsId) {
                this.$store.dispatch('moduleECommerce/fetchConfigs', configsId)
                    .then(res => {
                        this.configs_data = res
                    })
                    .catch(err => {
                        if (err.response.status === 404) {
                            this.config_not_found = true
                            return
                        }
                        console.error(err)
                    })

            },
            chnage_tab(tab){
                this.activeTab = tab;
                this.showUpdatedSuccess();
            }
        },
        created () {
            // Register Module SettingManagement Module
            if (!moduleECommerce.isRegistered) {
                this.$store.registerModule('moduleECommerce', moduleECommerce)
                moduleECommerce.isRegistered = true
            }
            console.log(this.$route.params)
            this.fetch_configs_data(this.$route.params.configsId)
        }
    }

</script>
