<!-- =========================================================================================
  File Name: UserCreateTabInformation.vue
  Description: User Create Information Tab content
  ----------------------------------------------------------------------------------------
  Item Name: Tadween - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/configs/pixinvent
========================================================================================== -->

<template>
    <div id="user-edit-tab-info">

        <!--        &lt;!&ndash; Avatar Row &ndash;&gt;-->
        <!-- Content Row -->
        <div class="vx-row" v-for="config in configs">

            <div class="vx-col md:w-1/2 w-full" v-if="config.type == 1">

                <vs-input class="w-full mt-4" :label="config.var" v-model="config.value_ar" v-validate="'required'" :name="config.var" />
                <span class="text-danger text-sm"  v-show="errors.has('title')">{{ errors.first(config.var) }}</span>
            </div>

            <div class="vx-col md:w-1/2 w-full" v-if="config.type == 1">

                <vs-input class="w-full mt-4" :label="config.var" v-model="config.value_en" v-validate="'required'" :name="config.var" />
                <span class="text-danger text-sm"  v-show="errors.has('title')">{{ errors.first(config.var) }}</span>
            </div>

            <div class="vx-col md:w-1/2 w-full" v-if="config.type == 3">
                <div class="mt-5">
                    <vs-textarea class="w-full ckeditor" :label="config.var" v-model="config.value_ar" v-validate="'required'" :name="config.var" />
                    <span class="text-danger text-sm"  v-show="errors.has('description')">{{ errors.first(config.var) }}</span>
                </div>
            </div>

            <div class="vx-col md:w-1/2 w-full ckeditor" v-if="config.type == 3">
                <div class="mt-5">
                    <vs-textarea class="w-full" :label="config.var" v-model="config.value_en" v-validate="'required'" :name="config.var" />
                    <span class="text-danger text-sm"  v-show="errors.has('description')">{{ errors.first(config.var) }}</span>
                </div>
            </div>


            <!--          <div class="vx-col md:w-1/2 w-full">-->
            <!--              -->
            <!--          </div>-->
        </div>
        <!-- Save & Reset Button -->
        <div class="vx-row">
            <div class="vx-col w-full">
                <div class="mt-8 flex flex-wrap items-center justify-end">
                    <vs-button class="ml-auto mt-2" @click="save_changes" :disabled="!validateForm">Save Changes</vs-button>
                    <vs-button class="ml-4 mt-2" type="border" color="warning" @click="reset_configs">Reset</vs-button>
                </div>
            </div>
        </div>


    </div>
</template>

<script>
    import vSelect from 'vue-select'

    export default {
        components: {
            vSelect
        },
        props: {
            data:'',
        },
        async created(){

        },
        data() {
            return {
                configs: this.data,
                current_photo:'',
                id:''
            }
        },
        computed: {
            validateForm () {
                return !this.errors.any()
            }
        },
        methods: {
            capitalize (str) {

                return str.slice(0, 1).toUpperCase() + str.slice(1, str.length)
            },
            showError (message) {
                this.$vs.notify({
                    color: 'danger',
                    text: message
                })
            },
            showCreatedSuccess () {
                this.$vs.notify({
                    color: 'success',
                    title: 'Services Updated',
                    text: 'Services was successfully updated'
                })
            },
            save_changes () {

                this.$store.dispatch('moduleECommerce/updateConfigs' , this.configs).then( res => {

                    this.$router.push({name:'dashboard-settings-general'});
                    this.showCreatedSuccess()

                }).catch(err =>{

                    this.showError(err);

                });

            },
            reset_configs() {
                this.configs = JSON.parse(JSON.stringify(this.configs));
            },
            update_photo (event) {

                let file = event.target.files[0];

                this.configs.icon = file;
                this.current_photo = URL.createObjectURL(file);
            }

        }
    }
</script>
