<template>
    <div>

        <link rel="stylesheet" href="/front/css/main_rtl.css" v-if="lang == 'ar'">
        <link rel="stylesheet" href="/front/css/main_ltr.css" v-if="lang == 'en'">

        <nav class="navbar navbar-expand-lg navbar-light bg-light" v-if="lang == 'en'" >
            <div class="container">
                <router-link class="navbar-brand" to="/">
                    <img src="/front/img/logo.svg" alt="tadween logo" width="100%" style="width: 129px;height: 81px">
                </router-link>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon2">
                        <img src="/front/img/menu-icon.png">
                    </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav" >
                    <ul class="navbar-nav m-auto">
                        <li style="font-family: AlmaraiRegular" :class="this.$router.currentRoute.fullPath == '/' ? 'nav-item active' : 'nav-item'" >
                            <router-link class="nav-link" to="/">{{ $t('home') }} <span class="sr-only">(current)</span></router-link>
                            <img src="/front/img/arrow.png" v-if="this.$router.currentRoute.fullPath == '/'">
                        </li>
                        <li style="font-family: AlmaraiRegular" :class="this.$router.currentRoute.fullPath == '/packages' ? 'nav-item active' : 'nav-item'">
                            <router-link class="nav-link" to="/packages">{{ $t('packages') }}</router-link>
                            <img src="/front/img/arrow.png" v-if="this.$router.currentRoute.fullPath == '/packages'">
                        </li>
                        <li style="font-family: AlmaraiRegular" :class="this.$router.currentRoute.fullPath == '/blogs' ? 'nav-item active' : 'nav-item'">
                            <router-link class="nav-link" to="/blogs">{{ $t('blog') }}</router-link>
                            <img src="/front/img/arrow.png" v-if="this.$router.currentRoute.fullPath == '/blogs'">
                        </li>
                        <li style="font-family: AlmaraiRegular" :class="this.$router.currentRoute.fullPath == '/about-us' ? 'nav-item active' : 'nav-item'">
                            <router-link class="nav-link" to="/about-us">{{ $t('aboutus') }} </router-link>
                            <img src="/front/img/arrow.png" v-if="this.$router.currentRoute.fullPath == '/about-us'">
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li style="font-family: AlmaraiRegular" :class="this.$router.currentRoute.fullPath == '/' ? 'nav-item active' : 'nav-item'">
                            <router-link class="nav-link" to="/how-work">{{ $t('howitwork') }} <span class="sr-only">(current)</span></router-link>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link button-mobile" href="" style="width: 125px;font-size: 20px;color: white;background-color: #00928A" v-on:click.prevent="changeLang('ar')">{{ 'عربى' }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <nav class="navbar navbar-expand-lg navbar-light bg-light" v-else>
            <div class="container">
                <div class="collapse navbar-collapse" id="navbarNav" :style="lang == 'ar' ? 'text-align:right' : ''">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link button-mobile" href="" style="width: 125px;font-size: 20px;color: white;background-color: #00928A" v-on:click.prevent="changeLang('en')">{{ 'English' }}</a>
                        </li>
                        <li style="font-family: AlmaraiRegular" :class="this.$router.currentRoute.fullPath == '/' ? 'nav-item active' : 'nav-item'">
                            <router-link class="nav-link" to="/how-work">{{ $t('howitwork') }} <span class="sr-only">(current)</span></router-link>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li style="font-family: AlmaraiRegular" :class="this.$router.currentRoute.fullPath == '/about-us' ? 'nav-item active' : 'nav-item'">
                            <router-link class="nav-link" to="/about-us">{{ $t('aboutus') }} </router-link>
                            <img src="/front/img/arrow.png" v-if="this.$router.currentRoute.fullPath == '/about-us'">
                        </li>
                        <li style="font-family: AlmaraiRegular" :class="this.$router.currentRoute.fullPath == '/blogs' ? 'nav-item active' : 'nav-item'">
                            <router-link class="nav-link" to="/blogs">{{ $t('blog') }}</router-link>
                            <img src="/front/img/arrow.png" v-if="this.$router.currentRoute.fullPath == '/blogs'">
                        </li>
                        <li style="font-family: AlmaraiRegular" :class="this.$router.currentRoute.fullPath == '/packages' ? 'nav-item active' : 'nav-item'">
                            <router-link class="nav-link" to="/packages">{{ $t('packages') }}</router-link>
                            <img src="/front/img/arrow.png" v-if="this.$router.currentRoute.fullPath == '/packages'">
                        </li>
                        <li style="font-family: AlmaraiRegular" :class="this.$router.currentRoute.fullPath == '/' ? 'nav-item active' : 'nav-item'">
                            <router-link class="nav-link" to="/">{{ $t('home') }} <span class="sr-only">(current)</span></router-link>
                            <img src="/front/img/arrow.png" v-if="this.$router.currentRoute.fullPath == '/'">
                        </li>
                    </ul>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon2">
                        <img src="/front/img/menu-icon.png">
                    </span>
                </button>
                <router-link class="navbar-brand" style="margin-left: 1rem;" to="/">
                    <img src="/front/img/logo.svg" alt="tadweend logo" width="100%" style="width: 129px;height: 81px">
                </router-link>
            </div>
        </nav>
        <!-- header -->
            <router-view></router-view>
        <!-- footer -->

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-6" >
                        <div class="text" style="position: static; margin-bottom: 20px">
                            <img src="front/img/white_logo.svg" style="max-width: 100%;width: 147px;height:86px" class="mx-auto d-block">
                            <p style="font-family: AlmaraiLight;font-style: normal;font-weight: normal;font-size: 16px;margin-bottom: 15px; height: auto" :class="lang == 'ar' ? 'text-right' : ''">{{ configs['about-description-'+lang].substring(0,400)+".." }}</p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="mail" style="position: static">
                            <h3 style="font-family: AlmaraiLight;font-style: normal;font-weight: 900;font-size: 20px;line-height: 27px;" :class="lang == 'ar' ? 'float-right' : ''">{{ $t('email_newsletter') }}</h3>
                            <p style="font-family: AlmaraiLight;font-style: normal;font-weight: normal;font-size: 11px;line-height: 16px;word-spacing: 1px;" :class="lang == 'ar' ? 'float-right' : ''">{{ $t('newsletter_desc') }}</p>
                            <div class="input-group">
                                <input type="text" :style="lang == 'ar' ? 'direction: rtl' : ''" class="form-control" v-model="email_newsletter" :placeholder="$t('email_newsletter')" aria-label="Username" aria-describedby="basic-addon1">
                                <a href="" @click.prevent="newsletter_subscribe" class="subscribe-link">{{ $t('SUBSCRIBE') }}</a>
                            </div>
                            <br>
                            <h3 style="font-family: AlmaraiLight;font-style: normal;font-weight: 900;font-size: 20px;line-height: 27px;" :class="lang == 'ar' ? 'float-right' : ''">
                                <router-link style="color: #fff0f0" to="/privacy-policy"> {{ $t('tadween_policy') }} </router-link>
                            </h3>
                            <p style="font-family: AlmaraiLight;font-style: normal;font-weight: normal;font-size: 11px;line-height: 16px;word-spacing: 1px;" :class="lang == 'ar' ? 'float-right' : ''">{{ $t('cookie_message') }}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center text-lg-left mt-5">
                        <div class="social">
                            <ul>
                                <li><a :href="configs['youtube-link']"><img src="/front/img/social/youtube.svg" alt="youtube"></a></li>
                                <li><a :href="configs['twitter-link']"><img src="/front/img/social/twitter.svg" alt="twitter"></a></li>
                                <li><a :href="configs['linkedin-link']"><img src="/front/img/social/linkdin.svg" alt="linkedin"></a></li>
                                <li><a :href="configs['instagram-link']"><img src="/front/img/social/insta.svg" alt="instagram"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</template>


<script>

    import axios from '../../axios'

    export default {
        components: {

        },
        data () {
            return {
                configs : [],
                lang: 'ar',
                email_newsletter:''
            }
        },
        watch: {
            '$route' () {
                this.routeTitle = this.$route.meta.pageTitle
            }
        },
        computed: {

        },
        methods: {
            showSuccessMessage () {
                this.$vs.notify({
                    color: 'success',
                    title: 'Success',
                    text: 'Proccess Done successfully'
                })
            },
            showError (message) {
                this.$vs.notify({
                    color: 'danger',
                    text: message
                })
            },
            async newsletter_subscribe(){

                var email = this.email_newsletter;

                await this.$vs.loading();

                await axios.post('/newsletter' , {email})
                    .then((res) => {

                        this.showSuccessMessage();
                        this.$vs.loading.close();

                    }).catch(message=>{
                        this.$vs.loading.close();
                        this.showError( this.$t('invalid_email') );
                    })


            },
            fetch_configs_data () {
                axios.get(`/front/configs`)
                    .then((response) => {
                        this.configs = response.data.configs;
                    })
            },
            changeLang (lang) {
                this.lang = lang;
                this.$i18n.locale = this.lang;
                window.VueInstant.$emit('change_locale',this.lang);
            },
        },
        mounted () {
            this.fetch_configs_data()
        }
    }

</script>
