/* blog-details */
.blog-details {
  padding: 40px 0;
}
.blog-details .head {
  width: 40%;
}
@media (max-width: 575.98px) {
  .blog-details .head {
    width: 100%;
  }
}
.blog-details .head h2 {
  font-weight: 700;
  font-size: 42px;
  color: #272727;
}
.blog-details .head p {
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  text-indent: 6px;
  color: #525252;
  margin-top: 20px;
}
.blog-details .blogs .image img {
  border-radius: 16px;
  margin-top: 47px;
  max-width: 100%;
}
.blog-details .blogs .title h3 {
  font-weight: 900;
  font-size: 31px;
  line-height: 68.1%;
  color: #BCBEC0;
  margin-top: 75px;
}
.blog-details .blogs .body img {
  border-radius: 16px;
  max-width: 100%;
}
.blog-details .blogs .body .content h2 {
  font-weight: 800;
  font-size: 15px;
  line-height: 17px;
  color: #171717;
  margin-top: 10px;
}
.blog-details .blogs .body .content p {
  font-size: 12px;
  line-height: 16px;
  color: #666666;
  margin-top: 10px;
}
.blog-details .blogs .body .content h6 {
  font-weight: 500;
  font-size: 11px;
  line-height: 14px;
  color: #666666;
  margin-top: 5px;
}
.blog-details .blogs .body .content h6 span {
  color: #00928A;
}
.blog-details .blog-body .blog-date {
  display: flex;
  margin-bottom: 40px;
}
.blog-details .blog-body .blog-date .image {
  width: 58px;
  height: 58px;
  display: inline-block;
}
.blog-details .blog-body .blog-date .image img {
  width: 100%;
}
.blog-details .blog-body .blog-date .content {
  display: inline-block;
  margin-left: 22px;
}
.blog-details .blog-body .blog-date .content h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.25px;
  color: #00928A;
}
.blog-details .blog-body .blog-date .content h5 {
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  opacity: 0.5;
}
.blog-details .blog-body .desc p {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-indent: 6px;
  color: #525252;
}
.blog-details .blog-body .next-blog {
  margin-top: 55px;
}
.blog-details .blog-body .next-blog a {
  background: rgba(255, 255, 255, 0.88);
  border: 1px solid #00A09A;
  border-radius: 27px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #00928A;
  padding: 16px 45px;
}


/*# sourceMappingURL=blog-details.css.map */
