.owl-carousel {
    position: relative;
}
.owl-next, .owl-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.owl-next {
    right: 0;
    display: flex;
}
.owl-prev{
    left: 0;
    display: flex;
}

@media only screen and (min-width: 676px) {
  .button-mobile {
      margin-left: 25px
  }

  .owl-prev {
      margin-left: -51px;
  }

  .owl-next {
      margin-right: -50px;
  }



}

@media only screen and (max-width: 676px) {
    .owl-prev {
        margin-left: 30px;
    }

    .owl-next {
        margin-right: 30px;
    }

    .work {
        margin-top: 75px;
    }

    footer .container .row .col-12:last-child {
        margin-top: 25px;
    }

    .turn-up .container .row .col-6 .body {
        height: 294px;
    }
}
