.navbar-light .navbar-collapse .navbar-nav:first-child .nav-item {
    margin-left: 0;
}

.navbar-light .navbar-collapse .navbar-nav:first-child .nav-item .nav-link {
    width: 160px;
    height: 54px;
    background: rgba(206, 242, 240, 0.88);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}



@media (max-width: 991.98px) {
    .navbar-light .navbar-collapse .navbar-nav:first-child .nav-item .nav-link {
        font-weight: 600;
        line-height: 22px;
        color: #525252;
        background: #fff;
        display: inline-block;
        height: auto;
    }
}
