<!-- =========================================================================================
  File Name: AdminCreate.vue
  Description: Admin Create Page
  ----------------------------------------------------------------------------------------
  Item Name: Tadween - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/admin/pixinvent
========================================================================================== -->

<template>
  <div id="page-admin-create">


    <vx-card>

      <div slot="no-body" class="tabs-container px-6 pt-6">

        <vs-tabs v-model="activeTab" class="tab-action-btn-fill-conatiner">
          <vs-tab label="Account" icon-pack="feather" icon="icon-admin">
            <div class="tab-text">
              <admin-create-tab-account @change_tab="chnage_tab" class="mt-4" />
            </div>
          </vs-tab>
        </vs-tabs>

      </div>

    </vx-card>
  </div>
</template>

<script>
import AdminCreateTabAccount     from './AdminCreateTabAccount.vue'

// Store Module
import moduleUserManagement from '@/store/user-management/moduleUserManagement.js'

export default {
  components: {
    AdminCreateTabAccount,
  },
  data () {
    return {
      admin_data: null,
      admin_not_found: false,

      /*
        This property is created for fetching latest data from API when tab is changed

        Please check it's watcher
      */
      activeTab: 0
    }
  },
  methods: {

    chnage_tab(tab){
        this.activeTab = tab;
    }

  },
  created () {
    // Register Module AdminManagement Module
    if (!moduleUserManagement.isRegistered) {
      this.$store.registerModule('userManagement', moduleUserManagement)
      moduleUserManagement.isRegistered = true
    }


  }
}

</script>
