/*=========================================================================================
    File Name: colors.scss
    Description: Color page styles
    ----------------------------------------------------------------------------------------
    Item Name: Tadween - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
==========================================================================================*/

#colors-demo {
    ul.demo-alignment li{
      width: 100px;
      height: 100px;
      margin: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      cursor: default;
      box-shadow: 0px 15px 40px -10px rgba(0,0,0,0.3);
      transition: all .2s ease;
      position: relative;
    }
}
