<!-- =========================================================================================
  File Name: AdminEdit.vue
  Description: Admin Edit Page
  ----------------------------------------------------------------------------------------
  Item Name: Tadween - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/admin/pixinvent
========================================================================================== -->

<template>
  <div id="page-admin-edit">

    <vs-alert color="danger" title="Admin Not Found" :active.sync="admin_not_found">
      <span>Admin record with id: {{ $route.params.adminId }} not found. </span>
      <span>
        <span>Check </span><router-link :to="{name:'page-admin-list'}" class="text-inherit underline">All Admins</router-link>
      </span>
    </vs-alert>

    <vx-card v-if="admin_data">

      <div slot="no-body" class="tabs-container px-6 pt-6">

        <vs-tabs v-model="activeTab" class="tab-action-btn-fill-conatiner">
          <vs-tab label="Account" icon-pack="feather" icon="icon-admin">
            <div class="tab-text">
              <admin-edit-tab-account @change_tab="chnage_tab" class="mt-4" :data="admin_data" />
            </div>
          </vs-tab>

        </vs-tabs>

      </div>

    </vx-card>
  </div>
</template>

<script>
import AdminEditTabAccount     from './AdminEditTabAccount.vue'

// Store Module
import moduleUserManagement from '@/store/user-management/moduleUserManagement.js'

export default {
  components: {
    AdminEditTabAccount,
  },
  data () {
    return {
      admin_data: null,
      admin_not_found: false,

      /*
        This property is created for fetching latest data from API when tab is changed

        Please check it's watcher
      */
      activeTab: 0
    }
  },
  watch: {
    activeTab () {
      this.fetch_admin_data(this.$route.params.adminId)
    }
  },
  methods: {
    showUpdatedSuccess () {
      this.$vs.notify({
        color: 'success',
        title: 'Admin Updated',
        text: 'Admin was successfully updated'
      })
    },

    fetch_admin_data (adminId) {
      this.$store.dispatch('userManagement/fetchAdmin', adminId)
        .then(res => {
          this.admin_data = res.data
        })
        .catch(err => {
          if (err.response.status === 404) {
            this.admin_not_found = true
            return
          }
          console.error(err)
        })

    },
    chnage_tab(tab){
        this.activeTab = tab;
        this.showUpdatedSuccess();
    }
  },
  created () {
    // Register Module AdminManagement Module
    if (!moduleUserManagement.isRegistered) {
      this.$store.registerModule('userManagement', moduleUserManagement)
      moduleUserManagement.isRegistered = true
    }
    this.fetch_admin_data(this.$route.params.adminId)
  }
}

</script>
