<!-- =========================================================================================
  File Name: UserCreateTabInformation.vue
  Description: User Create Information Tab content
  ----------------------------------------------------------------------------------------
  Item Name: Tadween - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/testimonial/pixinvent
========================================================================================== -->

<template>
  <div id="user-edit-tab-info">

    <!-- Avatar Row -->
    <div class="vx-row">
      <div class="vx-col w-full">
        <div class="flex items-start flex-col sm:flex-row">
          <img :src="current_photo" class="mr-8 rounded h-24 w-24" />
          <!-- <vs-photo :src="admin.photo" size="80px" class="mr-4" /> -->
          <div>
            <p class="text-lg font-medium mb-2 mt-4 sm:mt-0">{{ testimonial.name  }}</p>
            <input type="file" class="hidden" ref="update_photo_input" @change="update_photo" accept="image/*">
            <vs-button type="border" class="mr-4" @click="$refs.update_photo_input.click()">Change</vs-button>

          </div>
        </div>
      </div>
    </div>
      <!-- Content Row -->
      <div class="vx-row">
          <div class="vx-col md:w-1/2 w-full">

              <vs-input class="w-full mt-4" label="Name Arabic" v-model="testimonial.name_ar" v-validate="'required'" name="name_ar" />
              <span class="text-danger text-sm"  v-show="errors.has('name_ar')">{{ errors.first('name_ar') }}</span>

              <div class="mt-5">
                  <vs-textarea class="w-full" label="Body Arabic" v-model="testimonial.body_ar" v-validate="'required'" name="body_ar" />
                  <span class="text-danger text-sm"  v-show="errors.has('body_ar')">{{ errors.first('body_ar') }}</span>
              </div>

              <vs-input class="w-full mt-4" label="Job Title Arabic" v-model="testimonial.job_title_ar" v-validate="'required'" name="job_title_ar" />
              <span class="text-danger text-sm"  v-show="errors.has('job_title_ar')">{{ errors.first('job_title_ar') }}</span>

          </div>

          <div class="vx-col md:w-1/2 w-full">

              <vs-input class="w-full mt-4" label="Name English" v-model="testimonial.name_en" v-validate="'required'" name="name_en" />
              <span class="text-danger text-sm"  v-show="errors.has('name_en')">{{ errors.first('name_en') }}</span>

              <div class="mt-5">
                  <vs-textarea class="w-full" label="Body English" v-model="testimonial.body_en" v-validate="'required'" name="body_en" />
                  <span class="text-danger text-sm"  v-show="errors.has('body_en')">{{ errors.first('body_en') }}</span>
              </div>

              <vs-input class="w-full mt-4" label="Job Title English" v-model="testimonial.job_title_en" v-validate="'required'" name="job_title_en" />
              <span class="text-danger text-sm"  v-show="errors.has('job_title_en')">{{ errors.first('job_title_en') }}</span>

          </div>

      </div>
    <!-- Save & Reset Button -->
    <div class="vx-row">
      <div class="vx-col w-full">
        <div class="mt-8 flex flex-wrap items-center justify-end">
          <vs-button class="ml-auto mt-2" @click="save_changes" :disabled="!validateForm">Save Changes</vs-button>
          <vs-button class="ml-4 mt-2" type="border" color="warning" @click="reset_testimonial">Reset</vs-button>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import vSelect from 'vue-select'

export default {
  components: {
    vSelect
  },
  props: {
    data:'',
  },
  async created(){

  },
  data() {
    return {
      testimonial: this.data,
      current_photo:this.data.image,
      id:''
    }
  },
  computed: {
    validateForm () {
      return !this.errors.any()
    }
  },
  methods: {
    capitalize (str) {

      return str.slice(0, 1).toUpperCase() + str.slice(1, str.length)
    },
    showError (message) {
      this.$vs.notify({
        color: 'danger',
        text: message
      })
    },
    showCreatedSuccess () {
      this.$vs.notify({
        color: 'success',
        title: 'Testimonial Updated',
        text: 'Testimonial was successfully updated'
      })
    },
    save_changes () {

      this.$store.dispatch('moduleECommerce/updateTestimonial' , this.testimonial).then( res => {

        this.$router.push({name:'dashboard-testimonials-list'});
        this.showCreatedSuccess()

      }).catch(err =>{

        this.showError(err);

      });

    },
    reset_testimonial() {
      this.testimonial = JSON.parse(JSON.stringify(this.testimonial));
    },
    update_photo (event) {

      let file = event.target.files[0];

      this.testimonial.image = file;
      this.current_photo = URL.createObjectURL(file);
    }

  }
}
</script>
