<!-- =========================================================================================
  File Name: AdminView.vue
  Description: Admin View page
  ----------------------------------------------------------------------------------------
  Item Name: Tadween - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/admin/pixinvent
========================================================================================== -->

<template>
  <div id="page-admin-view">

    <vs-alert color="danger" title="Admin Not Found" :active.sync="admin_not_found">
      <span>Admin record with id: {{ $route.params.adminId }} not found. </span>
      <span>
        <span>Check </span><router-link :to="{name:'page-admin-list'}" class="text-inherit underline">All Admins</router-link>
      </span>
    </vs-alert>

    <div id="admin-data" v-if="admin_data">

      <vx-card title="Account" class="mb-base">

        <!-- Avatar -->
        <div class="vx-row">

          <!-- Avatar Col -->
          <div class="vx-col" id="avatar-col">
            <div class="img-container mb-4">
              <img :src="admin_data.avatar" class="rounded w-full" />
            </div>
          </div>

          <!-- Information - Col 1 -->
          <div class="vx-col flex-1" id="account-info-col-1">
            <table>
              <tr>
                <td class="font-semibold">Email</td>
                <td>{{ admin_data.email }}</td>
              </tr>
              <tr>
                <td class="font-semibold">Name</td>
                <td>{{ admin_data.name }}</td>
              </tr>

            </table>
          </div>
          <!-- /Information - Col 1 -->

          <!-- Information - Col 2 -->
          <div class="vx-col flex-1" id="account-info-col-2">
            <table>


              <tr>
                <td class="font-semibold">Phone</td>
                <td>{{ admin_data.phone }}</td>
              </tr>
            </table>
          </div>
          <!-- /Information - Col 2 -->
          <div class="vx-col w-full flex" id="account-manage-buttons">
            <vs-button icon-pack="feather" icon="icon-edit" class="mr-4" :to="{name: 'dashboard-admin-edit', params: { adminId: $route.params.adminId }}">Edit</vs-button>
            <vs-button type="border" color="danger" icon-pack="feather" icon="icon-trash" @click="confirmDeleteRecord">Delete</vs-button>
          </div>

        </div>

      </vx-card>

    </div>
  </div>
</template>

<script>
import moduleUserManagement from '@/store/user-management/moduleUserManagement.js'

export default {
  data () {
    return {
      admin_data: null,
      admin_not_found: false
    }
  },
  methods: {
    confirmDeleteRecord () {
      this.$vs.dialog({
        type: 'confirm',
        color: 'danger',
        title: 'Confirm Delete',
        text: `You are about to delete "${this.admin_data.name}"`,
        accept: this.deleteRecord,
        acceptText: 'Delete'
      })
    },
    deleteRecord () {

      this.$store.dispatch("userManagement/removeAdmin", this.admin_data.id)
        .then(()   => {
          this.$router.push({name:'dashboard-admin-list'});
          this.showDeleteSuccess()
        })
        .catch(err => { console.error(err)       })

    },
    showDeleteSuccess () {
      this.$vs.notify({
        color: 'success',
        title: 'Admin Deleted',
        text: 'The selected admin was successfully deleted'
      })
    }
  },
  created () {
    // Register Module AdminManagement Module
    if (!moduleUserManagement.isRegistered) {
      this.$store.registerModule('userManagement', moduleUserManagement)
      moduleUserManagement.isRegistered = true
    }

    const adminId = this.$route.params.adminId
    this.$store.dispatch('userManagement/fetchAdmin', adminId)
      .then(res => {
        this.admin_data = res.data
      })
      .catch(err => {
        if (err.response.status === 404) {
          this.admin_not_found = true
          return
        }
        console.error(err)
      })
  }
}

</script>

<style lang="scss">
#avatar-col {
  width: 10rem;
}

#page-admin-view {
  table {
    td {
      vertical-align: top;
      min-width: 140px;
      padding-bottom: .8rem;
      word-break: break-all;
    }

    &:not(.permissions-table) {
      td {
        @media screen and (max-width:370px) {
          display: block;
        }
      }
    }
  }
}

// #account-info-col-1 {
//   // flex-grow: 1;
//   width: 30rem !important;
//   @media screen and (min-width:1200px) {
//     & {
//       flex-grow: unset !important;
//     }
//   }
// }


@media screen and (min-width:1201px) and (max-width:1211px),
only screen and (min-width:636px) and (max-width:991px) {
  #account-info-col-1 {
    width: calc(100% - 12rem) !important;
  }

  // #account-manage-buttons {
  //   width: 12rem !important;
  //   flex-direction: column;

  //   > button {
  //     margin-right: 0 !important;
  //     margin-bottom: 1rem;
  //   }
  // }

}

</style>
