<!-- =========================================================================================
  File Name: LanguageEdit.vue
  Description: Language Edit Page
  ----------------------------------------------------------------------------------------
  Item Name: Tadween - Vuejs, HTML & Laravel Language Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/language/pixinvent
========================================================================================== -->

<template>
  <div id="page-language-edit">

    <vs-alert color="danger" title="Language Not Found" :active.sync="language_not_found">
      <span>Language record with id: {{ $route.params.languageId }} not found. </span>
      <span>
        <span>Check </span><router-link :to="{name:'page-language-list'}" class="text-inherit underline">All Languages</router-link>
      </span>
    </vs-alert>

    <vx-card v-if="language_data">

      <div slot="no-body" class="tabs-container px-6 pt-6">

        <vs-tabs v-model="activeTab" class="tab-action-btn-fill-conatiner">
          <vs-tab label="Information" icon-pack="feather" icon="icon-language">
            <div class="tab-text">
              <language-edit-tab-account @change_tab="chnage_tab" class="mt-4" :data="language_data" />
            </div>
          </vs-tab>

        </vs-tabs>

      </div>

    </vx-card>
  </div>
</template>

<script>
import LanguageEditTabAccount     from './LanguageEditTabAccount.vue'

// Store Module
import moduleLanguage from '@/store/language/moduleLanguage.js'

export default {
  components: {
    LanguageEditTabAccount,
  },
  data () {
    return {
      language_data: null,
      language_not_found: false,

      /*
        This property is created for fetching latest data from API when tab is changed

        Please check it's watcher
      */
      activeTab: 0
    }
  },
  watch: {
    activeTab () {
      this.fetch_language_data(this.$route.params.languageId)
    }
  },
  methods: {
    showUpdatedSuccess () {
      this.$vs.notify({
        color: 'success',
        title: 'Language Updated',
        text: 'Language was successfully updated'
      })
    },

    fetch_language_data (languageId) {
      this.$store.dispatch('language/fetchLanguage', languageId)
        .then(res => {
          this.language_data = res.data
        })
        .catch(err => {
          if (err.response.status === 404) {
            this.language_not_found = true
            return
          }
          console.error(err)
        })

    },
    chnage_tab(tab){
        this.activeTab = tab;
        this.showUpdatedSuccess();
    }
  },
  created () {
    // Register Module LanguageManagement Module
    if (!moduleLanguage.isRegistered) {
      this.$store.registerModule('language', moduleLanguage)
      moduleLanguage.isRegistered = true
    }
    this.fetch_language_data(this.$route.params.languageId)
  }
}

</script>
