<!-- =========================================================================================
  File Name: UserCreateTabInformation.vue
  Description: User Create Information Tab content
  ----------------------------------------------------------------------------------------
  Item Name: Tadween - Vuejs, HTML & Laravel Language Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->

<template>
  <div id="user-edit-tab-info">

    <!-- Language Icon Row -->
    <div class="vx-row">
      <div class="vx-col w-full">
        <div class="flex items-start flex-col sm:flex-row">
          <img :src="current_icon" class="mr-8 rounded h-24 w-24" />
          <!-- <vs-icon :src="language.icon" size="80px" class="mr-4" /> -->
          <div>
            <p class="text-lg font-medium mb-2 mt-4 sm:mt-0">{{ language.name  }}</p>
            <input type="file" class="hidden" ref="update_icon_input" @change="update_icon" accept="image/*">
            <vs-button type="border" class="mr-4" @click="$refs.update_icon_input.click()">Change Language Icon</vs-button>

          </div>
        </div>
      </div>
    </div>

    <!-- Content Row -->
    <div class="vx-row">
      <div class="vx-col md:w-1/2 w-full">

        <vs-input class="w-full mt-4" label="Name" v-model="language.name" v-validate="'required'" name="name" />
        <span class="text-danger text-sm"  v-show="errors.has('name')">{{ errors.first('name') }}</span>

      </div>

      <div class="vx-col md:w-1/2 w-full">

        <vs-input class="w-full mt-4" label="Code" v-model="language.code" v-validate="'required'" name="code" />
        <span class="text-danger text-sm"  v-show="errors.has('code')">{{ errors.first('code') }}</span>

      </div>
    </div>

    <!-- Save & Reset Button -->
    <div class="vx-row">
      <div class="vx-col w-full">
        <div class="mt-8 flex flex-wrap items-center justify-end">
          <vs-button class="ml-auto mt-2" @click="save_changes" :disabled="!validateForm">Save Changes</vs-button>
        </div>
      </div>
    </div>

  </div>
</template>

<script>

export default {
  props: {
    data:''
  },
  data() {
    return {
      language: this.data,
      categories:{},
      current_icon:this.data.icon,
      id:''
    }
  },
  computed: {
    validateForm () {
      return !this.errors.any()
    }
  },
  methods: {
    capitalize (str) {
      return str.slice(0, 1).toUpperCase() + str.slice(1, str.length)
    },
    showError (message) {
      this.$vs.notify({
        color: 'danger',
        text: message
      })
    },
    showCreatedSuccess () {
      this.$vs.notify({
        color: 'success',
        title: 'Language Updated',
        text: 'Language was successfully updated'
      })
    },
    save_changes () {

      this.$store.dispatch('language/updateLanguage' , this.language).then( res =>{
        this.$router.push({name:'dashboard-language-list'});
        this.showCreatedSuccess()
      }).catch(err =>{
        this.showError(err);
      });
    },
    reset_user() {
      this.language = JSON.parse(JSON.stringify(this.language));
    },
    update_icon (event) {
      var file = event.target.files[0];
      this.language.icon = file;
      this.current_icon = URL.createObjectURL(file);
    }

  }
}
</script>
