<template>
    <div>
        <!-- about -->

        <section class="main">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div :class="'content text-' + (lang == 'en' ? 'left' : 'right')">
                            <h1 style="font-family: AlmaraiBold;font-style: normal;font-weight: 800;font-size: 42px;line-height: 118.1%;">{{ configs['about-title-'+lang] }}</h1>
                            <p style="font-family: AlmaraiRegular;font-style: normal;font-weight: normal;font-size: 16px;line-height: 22px;text-align: center;" :class="lang == 'ar' ? 'text-right' : ''">{{ configs['about-description-'+lang] }}</p>
                            <h2 style="font-family: AlmaraiBold;font-style: normal;font-weight: 900;font-size: 26px;line-height: 118.1%;">{{ $t('download_app') }}</h2>

                            <div class="download-images">
                                <a :href="configs['app-store-link']">
                                    <img src="front/img/app-store.png" alt="app-store">
                                </a>
                                <a target="_blank" :href="configs['google-play-link']">
                                    <img src="front/img/google-play.png" alt="google-play">
                                </a>

                            </div>
                        </div>

                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="image">
                            <img src="front/img/about.png" width="100%;">
                        </div>
                    </div>
                    <div class="col-12 col-md-8 offset-md-2">
                        <div class="review">
                            <div class="row" v-for="testimonial in testimonials">
                                <div class="col-12 col-lg-8">
                                    <div class="name">
                                        <div class="image">
                                            <img :src="testimonial.image" alt="preview" width="100%">
                                        </div>
                                        <div class="content">
                                            <h2>{{ testimonial['name_'+lang] }}</h2>
                                            <h5>{{ testimonial['job_title_'+lang] }}</h5>
                                        </div>
                                    </div>
                                    <div class="desc">
                                        <p>{{ testimonial['body_'+lang] }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

                <!-- turn up -->

        <section class="turn-up">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="head">
                            <h2 style="font-family: AlmaraiBold;font-style: normal;font-weight: 500;font-size: 42px;line-height: 113.1%;text-align: center;">{{ $t('why_you_must') }} <span>{{ $t('turn_up') }} <br>{{ $t('to') }}</span> {{ $t('tadween') }} </h2>
                        </div>
                    </div>
                    <div class="col-6 col-lg-4 text-center mt-5 hvr-float" v-for="service in services">
                        <div class="body">
                            <div class="icon">
                                <img :src="'/assets/images/service/'+service.icon">
                            </div>
                            <h2 style="font-family: AlmaraiBold;font-style: normal;font-weight: 800;font-size: 20px;line-height: 113.6%;text-align: center;">{{ service['title_'+lang] }}</h2>
                            <p style="font-family: AlmaraiRegular;font-style: normal;font-weight: normal;font-size: 18px;line-height: 150.69%;text-align: center;">{{ service['description_'+lang] }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- download app -->

        <section class="download">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h2>{{ $t('download_app') }} :</h2>
                        <div class="stores">
                            <a :href="configs['app-store-link']">
                                <img src="front/img/app-store.png" alt="app-store">
                            </a>
                            <a target="_blank" :href="configs['google-play-link']">
                                <img src="front/img/google-play.png" alt="google-play">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>


<script>
import axios from '../../axios'

export default {
    data () {
        return {
            configs : [],
            news : [],
            packages : [],
            services : [],
            partners : [],
            testimonials:[],
            lang: this.$i18n.locale,
        }
    },
    mounted() {
        this.fetch_configs_data()
    },
    created () {
        window.VueInstant.$on('change_locale',(lang) => {
            this.lang = lang
        });

    },
    methods : {
        fetch_configs_data () {
                axios.get(`/front/configs`)
                    .then((response) => {
                        this.configs = response.data.configs;
                        this.news = response.data.news;
                        this.packages = response.data.packages;
                        this.services = response.data.services;
                        this.partners = response.data.partners;
                        this.testimonials = response.data.testimonials;

                        let vm = this;
                        window.Fire.nextTick(function(){
                            $('.partner .owl-carousel').owlCarousel({
                                loop:true,
                                margin:30,
                                responsive:{
                                    0:{
                                        items:3
                                    },
                                    600:{
                                        items:3
                                    },
                                    1000:{
                                        items:5
                                    }
                                }
                            });

                    })
                    .catch((error) => { reject(error) })
            })
        },
    }
}
</script>
