<template>
    <div>
        <section class="blog-details">
            <div class="container">
                <div :class="lang == 'ar' ? 'row flex-row-reverse' : 'row'">
                    <div class="col-12">
                        <div class="head">
                            <h2>{{ this.$route.params.title }}</h2>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 order-md-1 order-12">
                        <div class="blogs row">
                            <div class="col-12">
                                <div class="image">
                                    <img :src="'/assets/images/news/'+single.photo">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 order-md-12 order-1">
                        <div class="blog-body">
                            <div class="blog-date">
<!--                                <div class="image">-->
<!--                                    <img :src="'/assets/images/news/'+single.photo" alt="preview" width="100%">-->
<!--                                </div>-->
<!--                                <div class="content">-->
<!--                                    <h5>{{ single.created_at }}</h5>-->
<!--                                </div>-->
                            </div>
                            <div class="desc">
                                <h3 :class="lang == 'ar' ? 'text-right' : ''">{{ single['title_'+lang] }}</h3>
                                <p :class="lang == 'ar' ? 'text-right' : ''">
                                    {{ single['description_'+lang] }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>


<script>
import axios from '../../axios'

export default {
    data () {
        return {
            configs : [],
            news : [],
            single : [],
            lang: this.$i18n.locale,
        }
    },
    mounted() {
        this.fetch_configs_data()
        this.fetch_news_single_data()
    },
    created () {
        window.VueInstant.$on('change_locale',(lang) => {
            this.lang = lang
        });

    },
    methods : {
        fetch_configs_data () {
            axios.get(`/front/configs`)
                .then((response) => {
                    this.configs = response.data.configs;
                    this.news = response.data.news;
                })
        },

        fetch_news_single_data () {
            axios.get(`/dashboard/news-single/${this.$route.params.id}`)
                .then((response) => {
                    this.single = response.data;
                })
        },
    }
}
</script>
