<template>
    <div>
        <section class="news" id="blogs-section">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="head">
                            <h2 style="font-family: AlmaraiBold;font-style: normal;font-weight: 800;font-size: 35px;line-height: 118.1%;">{{ $t('last_news') }}</h2>
                            <p style="font-family: AlmaraiRegular;font-style: normal;font-weight: normal;font-size: 16px;line-height: 118.1%;text-align: center;">{{ configs['news-description-'+lang] }}</p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 col-md-6 text-md-left text-center mt-5" v-for="newsSingle in news">
                        <div class="body">
                            <img :src="'/assets/images/news/'+newsSingle.photo">
                            <h3 style="font-family: AlmaraiRegular;font-style: normal;font-weight: 900;font-size: 16px;line-height: 28px;"><router-link :to="'/blogs/' + newsSingle.id ">{{ newsSingle['title_'+lang] }}</router-link></h3>
                            <p style="margin: auto;font-family: AlmaraiRegular;font-style: normal;font-weight: normal;font-size: 14px;line-height: 24px;">{{ newsSingle['description_'+lang] }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</template>


<script>
import axios from '../../axios'

export default {
    data () {
        return {
            configs : [],
            news : [],
            lang: this.$i18n.locale,
        }
    },
    mounted() {
        this.fetch_configs_data()
    },
    created () {
        window.VueInstant.$on('change_locale',(lang) => {
            this.lang = lang
        });

    },
    methods : {
        fetch_configs_data () {
            axios.get(`/front/configs`)
                .then((response) => {
                    this.configs = response.data.configs;
                    this.news = response.data.news;
                })
        },
    }
}
</script>
