<template>
    <div>
        <header>
            <div class="container">
                <div :class="lang == 'ar' ? 'row flex-row-reverse' : 'row'">
                    <div class="col-lg-6 col-12 text-lg-left text-center">
                        <div :class="lang == 'ar' ? 'main-text float-right' : 'main-text float-left'" :style="lang == 'ar' ? 'text-align :right' : 'text-align :left'">
                            <h1 style="font-family: AlmaraiRegular;font-style: normal;font-weight: 800;font-size: 42px;line-height: 118.1%;">{{ configs['slider-title-'+lang] }}</h1>
                            <p style="font-family: AlmaraiRegular;font-style: normal;font-weight: normal;font-size: 16px;line-height: 24px;letter-spacing: -0.41px;text-indent: 1px;text-transform: capitalize;">
                                <span class="bold">{{ $t('tadween') }}</span>
                                {{ configs['slider-description-'+lang] }}
                            </p>
                            <div style="text-align: center;">
                                <a class="trial mt-5 mt-lg-0" href="#" style="font-family: AlmaraiRegular;font-style: normal;font-weight: 800;font-size: 16px;line-height: 22px;">{{ configs['slider-first-button-'+lang] }}</a>
                                <a class="price mt-5 mt-lg-0" href="#" style="padding: 17px;display: inline;font-family: AlmaraiRegular;font-style: normal;font-weight: 800;font-size: 16px;line-height: 22px;">{{ configs['slider-second-button-'+lang] }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="slides">
                            <img src="front/img/slides/iPhone%2011%20Pro%20Max%20-%202.png">
                            <img src="front/img/slides/iPhone%2011%20Pro%20Max%20-%201.png">
                            <img src="front/img/slides/iPhone%2011%20Pro%20Max%20-%203.png">
                            <img src="front/img/shapes/shape1.png">
                        </div>
                    </div>
                </div>
            </div>
            <img src="front/img/shapes/shape3-b.png" class="shape1">
            <img src="front/img/shapes/shape2-b.png" class="shape2">
        </header>

        <!-- work -->

        <section class="work">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="head">
                            <h2 style="font-family: AlmaraiBold;font-style: normal;font-weight: 800;font-size: 32px;line-height: 118.1%;">{{ $t('howitwork') }}</h2>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="body">
                            <div class="video text-center">
                                <div>
                                    <!--                                    <img src="front/img/video.png" alt="play">-->
                                    <!--                                    <img src="front/img/play.png" alt="play">-->
                                    <iframe width="550" height="390" style="border-radius: 20px" src="https://www.youtube.com/embed/PuAbqwTDeh0"
                                            frameborder="0" allow="accelerometer; autoplay; encrypted-media;
                                             gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="download-app text-center">
                                <h2 style="font-family: AlmaraiRegular;font-style: normal;font-weight: 900;font-size: 26px;line-height: 118.1%;">{{ $t('download_app') }}</h2>
<!--                                <p style="font-family: AlmaraiRegular;font-style: normal;font-weight: 900;font-size: 26px;line-height: 118.1%;">{{ $t('download_desc') }}</p>-->
                                <div class="stores">
                                    <a :href="configs['app-store-link']">
                                        <img src="front/img/app-store.png" alt="app-store">
                                    </a>
                                    <a target="_blank" :href="configs['google-play-link']">
                                        <img src="front/img/google-play.png" alt="google-play">
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="colord"></div>
        </section>

        <!-- packages -->

        <section class="packages" id="packages-section">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="head">
                            <h1>
<!--                                <img src="front/img/tadween.png" alt="tadween" max-width="100%;" style="margin-top: -15px;">-->
                                <span style="font-family: AlmaraiBold;font-style: normal;font-weight: 800;font-size: 42px;line-height: 118.1%;"> {{ $t('packages') }}</span>
                                <span style="font-family: AlmaraiBold;font-style: normal;font-weight: 800;font-size: 42px;line-height: 118.1%;color: #00928A"> {{ $t('tadween') }}</span>
                            </h1>
                            <p style="font-family: AlmaraiBold;font-style: normal;font-weight: normal;font-size: 16px;line-height: 22px;text-align: center;">{{ configs['packages-description-'+lang] }}</p>
                        </div>
                    </div>
                    <div class="owl-carousel owl-theme">
                        <div v-for="packago in packages" :class="'package '+packago">
                            <div class="head">
                                <h2 style="font-family: AlmaraiBold;font-style: normal;font-weight: 900;font-size: 35px;line-height: 132%;align-items: center;text-align: center;letter-spacing: 0.25px;">{{ packago['title_'+lang] }}</h2>
                                <p style="font-family: AlmaraiRegular;font-style: normal;font-weight: normal;font-size: 12px;line-height: 15px;align-items: center;text-align: center;letter-spacing: 0.25px;">{{ packago['description_'+lang] }}</p>
                            </div>
                            <div class="details">
                                <ul>
                                    <li v-if="packago.salesman" style="font-family: AlmaraiRegular;" >{{ $t('Salesmans') }}<span>{{ packago.salesman }}</span></li>
                                    <li v-if="packago.number_of_admins" style="font-family: AlmaraiRegular;">{{ $t('num_of_admins') }}<span>{{ packago.number_of_admins }}</span></li>
                                    <li v-if="packago.number_of_customers" style="font-family: AlmaraiRegular;">{{ $t('num_customers') }}<span>{{ packago.number_of_customers }}</span></li>
                                    <li v-if="packago.number_of_product" style="font-family: AlmaraiRegular;">{{ $t('num_products') }}<span>{{ packago.number_of_product }}</span></li>
                                    <li v-if="packago.price" style="font-family: AlmaraiRegular;">{{ $t('price') }}<span>{{ packago.price + ' ' + $t('rs') }} </span></li>

                                </ul>
                                <br/>
                                <a href="#" class="subscribe" style="width: 130px;font-family: AlmaraiRegular; opacity: 1;">
                                    {{ $t('sub_now') }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img src="front/img/shapes/shape3.png" class="shape1">
            <img src="front/img/shapes/shape2.png" class="shape2">
        </section>

        <!-- turn up -->

        <section class="turn-up">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="head">
                            <h2 style="font-family: AlmaraiLight;font-style: normal;font-weight: 500;font-size: 42px;line-height: 113.1%;text-align: center;">{{ $t('why_you_must') }} <span>{{ $t('turn_up') }} <br>{{ $t('to') }}</span> {{ $t('tadween') }} </h2>
                        </div>
                    </div>
                    <div class="col-6 col-lg-4 text-center mt-5 hvr-float" v-for="service in services">
                        <div class="body">
                            <div class="icon">
                                <img :src="'/assets/images/service/'+service.icon">
                            </div>
                            <h2 style="font-family: AlmaraiBold;font-style: normal;font-weight: 800;font-size: 20px;line-height: 113.6%;text-align: center;">{{ service['title_'+lang] }}</h2>
                            <p style="font-family: AlmaraiRegular;font-style: normal;font-weight: normal;font-size: 18px;line-height: 150.69%;text-align: center;">{{ service['description_'+lang] }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- news -->

        <section class="news" id="blogs-section">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="head">
                            <h2 style="font-family: AlmaraiBold;font-style: normal;font-weight: 800;font-size: 35px;line-height: 118.1%;">{{ $t('last_news') }}</h2>
                            <p style="font-family: AlmaraiRegular;font-style: normal;font-weight: normal;font-size: 16px;line-height: 118.1%;text-align: center;">{{ configs['news-description-'+lang] }}</p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 col-md-6 text-md-left text-center mt-5" v-for="newsSingle in news">
                        <div class="body">
                            <img :src="'/assets/images/news/'+newsSingle.photo">
                            <h3 style="font-family: AlmaraiRegular;font-style: normal;font-weight: 900;font-size: 16px;line-height: 28px;"><router-link tag="a" :to="'/blogs/'+newsSingle.id">{{ newsSingle['title_'+lang] }}</router-link></h3>
                            <p style="margin: auto;font-family: AlmaraiRegular;font-style: normal;font-weight: normal;font-size: 14px;line-height: 24px;">{{ newsSingle['description_'+lang] }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- partner -->
<!--
        <section class="partner">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="head">
                            <h2>{{ $t('success_partners') }}</h2>
                            <p>{{ configs['partners-description-'+lang] }}</p>
                        </div>
                    </div>
                    <div class="owl-carousel owl-theme">
                        <div class="partner-pic" style="height:100px;margin-top: 20px;" v-for="partner in partners">
                            <img style="height: 100%" :src="partner.photo">
                        </div>
                    </div>
                </div>
            </div>
        </section>
 -->
        <!-- download app -->

        <section class="download">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h2 style="font-family: AlmaraiBold;font-style: normal;font-weight: 900;font-size: 26px;line-height: 118.1%;">{{ $t('download_app') }}</h2>
                        <div class="stores">
                            <a :href="configs['app-store-link']">
                                <img src="front/img/app-store.png" alt="app-store">
                            </a>
                            <a target="_blank" :href="configs['google-play-link']">
                                <img src="front/img/google-play.png" alt="google-play">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>


<script>
import axios from '../../axios'

export default {
    data () {
        return {
            configs : [],
            news : [],
            packages : [],
            services : [],
            partners : [],
            lang: this.$i18n.locale,
        }
    },
    mounted() {
        this.fetch_configs_data()
    },
    created () {
        window.VueInstant.$on('change_locale',(lang) => {
            this.lang = lang
        });

    },
    methods : {
        fetch_configs_data () {
            axios.get(`/front/configs`)
                .then((response) => {
                    this.configs = response.data.configs;
                    this.news = response.data.news;
                    this.packages = response.data.packages;
                    this.services = response.data.services;
                    this.partners = response.data.partners;

                    let vm = this;
                    window.Fire.nextTick(function() {
                        $('.packages .owl-carousel').owlCarousel({
                            loop:true,
                            margin:30,
                            nav: true,
                            navText: ["<img src='/front/img/previos.png'>","<img src='/front/img/next.png'>"],
                            responsive:{
                                0:{
                                    items:1,
                                    stagePadding: 100,
                                    margin:10
                                },
                                580:{
                                    items:1,
                                    stagePadding: 200
                                },
                                1000:{
                                    items:3
                                }
                            },
                        })

                        $('.partner .owl-carousel').owlCarousel({
                            loop:true,
                            margin:30,
                            responsive:{
                                0:{
                                    items:3
                                },
                                600:{
                                    items:3
                                },
                                1000:{
                                    items:5
                                }
                            }
                        });

                    })
                        .catch((error) => { reject(error) })
                })
        },
    }
}
</script>
