<template>
    <div>
        <section class="work">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="head">
                            <h1 style="font-family: AlmaraiRegular;font-style: normal;font-weight: 800;font-size: 42px;line-height: 118.1%;">{{ configs['how-title-'+lang] }}</h1>
                            <p style="font-family: AlmaraiRegular;font-style: normal;font-weight: normal;font-size: 16px;line-height: 24px;letter-spacing: -0.41px;text-indent: 1px;text-transform: capitalize;" v-html="configs['how-description-'+lang]"></p>
                        </div>
                    </div>
                    <div class="col-12">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" style="font-family: AlmaraiRegular;font-style: normal;font-weight: normal;font-size: 16px;line-height: 24px;letter-spacing: -0.41px;text-indent: 1px;text-transform: capitalize;">
                                <a class="nav-link active" id="wholesaler-tab" data-toggle="tab" href="#wholesaler" role="tab" aria-controls="home" aria-selected="true">{{ $t('wholesaler') }}</a>
                            </li>
                            <li class="nav-item" style="font-family: AlmaraiRegular;font-style: normal;font-weight: normal;font-size: 16px;line-height: 24px;letter-spacing: -0.41px;text-indent: 1px;text-transform: capitalize;">
                                <a class="nav-link" id="salesman-tab" data-toggle="tab" href="#salesman" role="tab" aria-controls="profile" aria-selected="false">{{ $t('salesman') }}</a>
                            </li>
                            <li class="nav-item" style="font-family: AlmaraiRegular;font-style: normal;font-weight: normal;font-size: 16px;line-height: 24px;letter-spacing: -0.41px;text-indent: 1px;text-transform: capitalize;">
                                <a class="nav-link" id="retailer-tab" data-toggle="tab" href="#retailer" role="tab" aria-controls="contact" aria-selected="false">{{ $t('retailer') }}</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="wholesaler" role="tabpanel" aria-labelledby="wholesaler-tab">
<!--                                <div class="video">-->
<!--                                    <img src="front/img/work.png" alt="work">-->
<!--                                </div>-->
                                <div class="desc" style="font-family: AlmaraiRegular;font-style: normal;font-weight: normal;font-size: 14px;line-height: 24px;letter-spacing: -0.41px;text-indent: 1px;text-transform: capitalize;">
                                    <p style="text-align: center" v-html="configs['wholesaler-description-'+lang]"></p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="salesman" role="tabpanel" aria-labelledby="salesman-tab">
<!--                                <div class="video">-->
<!--                                    <img src="front/img/work.png" alt="work">-->
<!--                                </div>-->
                                <div class="desc" style="font-family: AlmaraiRegular;font-style: normal;font-weight: normal;font-size: 14px;line-height: 24px;letter-spacing: -0.41px;text-indent: 1px;text-transform: capitalize;">
                                    <p style="text-align: center" v-html="configs['salesman-description-'+lang]"></p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="retailer" role="tabpanel" aria-labelledby="retailer-tab">
<!--                                <div class="video">-->
<!--                                    <img src="front/img/work.png" alt="work">-->
<!--                                </div>-->
                                <div class="desc" style="font-family: AlmaraiRegular;font-style: normal;font-weight: normal;font-size: 14px;line-height: 24px;letter-spacing: -0.41px;text-indent: 1px;text-transform: capitalize;">
                                    <p style="text-align: center" v-html="configs['retailer-description-'+lang]"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- download app -->

        <section class="download">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h2>{{ $t('download_app') }}</h2>
                        <div class="stores">
                            <a :href="configs['app-store-link']">
                                <img src="front/img/app-store.png" alt="app-store">
                            </a>
                            <a target="_blank" :href="configs['google-play-link']">
                                <img src="front/img/google-play.png" alt="google-play">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</template>


<script>
import axios from '../../axios'

export default {
    data () {
        return {
            configs : [],
            news : [],
            packages : [],
            services : [],
            lang: this.$i18n.locale
        }
    },
    mounted() {
        this.fetch_configs_data()
    },
    created () {
        window.VueInstant.$on('change_locale',(lang) => {
            this.lang = lang
        });

    },
    methods : {
        fetch_configs_data () {
                axios.get(`/front/configs`)
                    .then((response) => {
                        this.configs = response.data.configs;
                        this.news = response.data.news;
                        this.packages = response.data.packages;
                        this.services = response.data.services;

                        let vm = this;
                        window.Fire.nextTick(function(){
                            $('.partner .owl-carousel').owlCarousel({
                                loop:true,
                                margin:30,
                                responsive:{
                                    0:{
                                        items:3
                                    },
                                    600:{
                                        items:3
                                    },
                                    1000:{
                                        items:5
                                    }
                                }
                            });

                    })
                    .catch((error) => { reject(error) })
            })
        },
    }
}
</script>
