<template>
    <div>
      <section class="packages" id="packages-section">
          <div class="container">
              <div class="row">
                  <div class="col-12 text-center">
                      <div class="head">
                          <h1>
<!--                                <img src="front/img/tadween.png" alt="tadween" max-width="100%;" style="margin-top: -15px;">-->
                              <span style="font-family: AlmaraiBold;font-style: normal;font-weight: 800;font-size: 42px;line-height: 118.1%;"> {{ $t('packages') }}</span>
                              <span style="font-family: AlmaraiBold;font-style: normal;font-weight: 800;font-size: 42px;line-height: 118.1%;color: #00928A"> {{ $t('tadween') }}</span>
                          </h1>
                          <p style="font-family: AlmaraiBold;font-style: normal;font-weight: normal;font-size: 16px;line-height: 22px;text-align: center;">{{ configs['packages-description-'+lang] }}</p>
                      </div>
                  </div>
                  <div class="owl-carousel owl-theme">
                      <div v-for="packago in packages" :class="'package '+packago">
                          <div class="head">
                              <h2 style="font-family: AlmaraiBold;font-style: normal;font-weight: 900;font-size: 35px;line-height: 132%;align-items: center;text-align: center;letter-spacing: 0.25px;">{{ packago['title_'+lang] }}</h2>
                              <p style="font-family: AlmaraiRegular;font-style: normal;font-weight: normal;font-size: 12px;line-height: 15px;align-items: center;text-align: center;letter-spacing: 0.25px;">{{ packago['description_'+lang] }}</p>
                          </div>
                          <div class="details">
                              <ul>
                                  <li v-if="packago.salesman" style="font-family: AlmaraiRegular;" >{{ $t('Salesmans') }}<span>{{ packago.salesman }}</span></li>
                                  <li v-if="packago.number_of_admins" style="font-family: AlmaraiRegular;">{{ $t('num_of_admins') }}<span>{{ packago.number_of_admins }}</span></li>
                                  <li v-if="packago.number_of_customers" style="font-family: AlmaraiRegular;">{{ $t('num_customers') }}<span>{{ packago.number_of_customers }}</span></li>
                                  <li v-if="packago.number_of_product" style="font-family: AlmaraiRegular;">{{ $t('num_products') }}<span>{{ packago.number_of_product }}</span></li>
                                  <li v-if="packago.price" style="font-family: AlmaraiRegular;">{{ $t('price') }}<span>{{ packago.price + ' ' + $t('rs') }} </span></li>

                              </ul>
                              <br/>
                              <a href="#" class="subscribe" style="width: 130px;font-family: AlmaraiRegular; opacity: 1;">
                                  {{ $t('sub_now') }}
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <img src="front/img/shapes/shape3.png" class="shape1">
          <img src="front/img/shapes/shape2.png" class="shape2">
      </section>

    </div>
</template>


<script>
import axios from '../../axios'

export default {
    data () {
        return {
            configs : [],
            packages : [],
            lang: this.$i18n.locale
        }
    },
    mounted() {
        this.fetch_configs_data()
    },
    created () {
        window.VueInstant.$on('change_locale',(lang) => {
            this.lang = lang
        });

    },
    methods : {
        fetch_configs_data () {
                axios.get(`/front/configs`)
                    .then((response) => {
                        this.configs = response.data.configs;
                        this.packages = response.data.packages;

                        let vm = this;
                        window.Fire.nextTick(function() {
                            $('.packages .owl-carousel').owlCarousel({
                                loop:true,
                                margin:30,
                                nav: true,
                                navText: ["<img src='/front/img/previos.png'>","<img src='/front/img/next.png'>"],
                                responsive:{
                                    0:{
                                        items:1,
                                        stagePadding: 100,
                                        margin:10
                                    },
                                    580:{
                                        items:1,
                                        stagePadding: 200
                                    },
                                    1000:{
                                        items:3
                                    }
                                },
                            })

                            $('.partner .owl-carousel').owlCarousel({
                                loop:true,
                                margin:30,
                                responsive:{
                                    0:{
                                        items:3
                                    },
                                    600:{
                                        items:3
                                    },
                                    1000:{
                                        items:5
                                    }
                                }
                            });

                        })
                            .catch((error) => { reject(error) })
            })
        },
    }
}
</script>
