<template>
    <div>
        <section class="work">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="head">
                            <h1 style="font-family: AlmaraiRegular;font-style: normal;font-weight: 800;font-size: 42px;line-height: 118.1%;">{{ $t('tadween_policy') }}</h1>
                        </div>
                    </div>
                    <div class="col-12">

                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="wholesaler" role="tabpanel" aria-labelledby="wholesaler-tab">
                                <div class="desc" style="font-family: AlmaraiRegular;font-style: normal;font-weight: normal;font-size: 14px;line-height: 24px;letter-spacing: -0.41px;text-indent: 1px;text-transform: capitalize;">
                                    <p style="text-align: center" v-html="configs['privacy-policy-'+lang]"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- download app -->

        <section class="download">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h2>{{ $t('download_app') }}</h2>
                        <div class="stores">
                            <a :href="configs['app-store-link']">
                                <img src="front/img/app-store.png" alt="app-store">
                            </a>
                            <a target="_blank" :href="configs['google-play-link']">
                                <img src="front/img/google-play.png" alt="google-play">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</template>


<script>
import axios from '../../axios'

export default {
    data () {
        return {
            configs : [],
            news : [],
            packages : [],
            services : [],
            lang: this.$i18n.locale
        }
    },
    mounted() {
        this.fetch_configs_data()
    },
    created () {
        window.VueInstant.$on('change_locale',(lang) => {
            this.lang = lang
        });

    },
    methods : {
        fetch_configs_data () {
            axios.get(`/front/configs`)
                .then((response) => {
                    this.configs = response.data.configs;
                    this.news = response.data.news;
                    this.packages = response.data.packages;
                    this.services = response.data.services;

                    let vm = this;
                    window.Fire.nextTick(function(){
                        $('.partner .owl-carousel').owlCarousel({
                            loop:true,
                            margin:30,
                            responsive:{
                                0:{
                                    items:3
                                },
                                600:{
                                    items:3
                                },
                                1000:{
                                    items:5
                                }
                            }
                        });

                    })
                        .catch((error) => { reject(error) })
                })
        },
    }
}
</script>
