<!-- =========================================================================================
  File Name: UserCreateTabInformation.vue
  Description: User Create Information Tab content
  ----------------------------------------------------------------------------------------
  Item Name: Tadween - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/news/pixinvent
========================================================================================== -->

<template>
  <div id="user-edit-tab-info">

    <!-- Avatar Row -->
    <div class="vx-row">
      <div class="vx-col w-full">
        <div class="flex items-start flex-col sm:flex-row">
          <img :src="current_photo" class="mr-8 rounded h-24 w-24" />
          <!-- <vs-photo :src="admin.photo" size="80px" class="mr-4" /> -->
          <div>
            <p class="text-lg font-medium mb-2 mt-4 sm:mt-0">{{ news.name  }}</p>
            <input type="file" class="hidden" ref="update_photo_input" @change="update_photo" accept="image/*">
            <vs-button type="border" class="mr-4" @click="$refs.update_photo_input.click()">Change Avatar</vs-button>

          </div>
        </div>
      </div>
    </div>

    <!-- Content Row -->
      <div class="vx-row">
          <div class="vx-col md:w-1/2 w-full">

              <vs-input class="w-full mt-4" label="Title Arabic" v-model="news.title_ar" v-validate="'required'" name="title_ar" />
              <span class="text-danger text-sm"  v-show="errors.has('title_ar')">{{ errors.first('title_ar') }}</span>
          </div>

          <div class="vx-col md:w-1/2 w-full">

              <vs-input class="w-full mt-4" label="Title English" v-model="news.title_en" v-validate="'required'" name="title_en" />
              <span class="text-danger text-sm"  v-show="errors.has('title_en')">{{ errors.first('title_en') }}</span>
          </div>

          <div class="vx-col md:w-1/2 w-full">
              <div class="mt-5">
                  <vs-textarea class="w-full" label="Description Arabic" v-model="news.description_ar" v-validate="required" name="description_ar" />
                  <span class="text-danger text-sm"  v-show="errors.has('description_ar')">{{ errors.first('description_ar') }}</span>
              </div>
          </div>

          <div class="vx-col md:w-1/2 w-full">
              <div class="mt-5">
                  <vs-textarea class="w-full" label="Description English" v-model="news.description_en" v-validate="required" name="description_en" />
                  <span class="text-danger text-sm"  v-show="errors.has('description_en')">{{ errors.first('description_en') }}</span>
              </div>
          </div>
      </div>
    <!-- Save & Reset Button -->
    <div class="vx-row">
      <div class="vx-col w-full">
        <div class="mt-8 flex flex-wrap items-center justify-end">
          <vs-button class="ml-auto mt-2" @click="save_changes" :disabled="!validateForm">Save Changes</vs-button>
          <vs-button class="ml-4 mt-2" type="border" color="warning" @click="reset_news">Reset</vs-button>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import vSelect from 'vue-select'

export default {
  components: {
    vSelect
  },
  props: {
    data:'',
  },
  async created(){

  },
  data() {
    return {
      news: this.data,
      current_photo:this.data.photo,
      id:''
    }
  },
  computed: {
    validateForm () {
      return !this.errors.any()
    }
  },
  methods: {
    capitalize (str) {

      return str.slice(0, 1).toUpperCase() + str.slice(1, str.length)
    },
    showError (message) {
      this.$vs.notify({
        color: 'danger',
        text: message
      })
    },
    showCreatedSuccess () {
      this.$vs.notify({
        color: 'success',
        title: 'News Updated',
        text: 'News was successfully updated'
      })
    },
    save_changes () {

      this.$store.dispatch('moduleECommerce/updateNews' , this.news).then( res => {

        this.$router.push({name:'dashboard-news-list'});
        this.showCreatedSuccess()

      }).catch(err =>{

        this.showError(err);

      });

    },
    reset_news() {
      this.news = JSON.parse(JSON.stringify(this.news));
    },
    update_photo (event) {

      var file = event.target.files[0];

      this.news.photo = file;
      this.current_photo = URL.createObjectURL(file);
    }

  }
}
</script>
