<!-- =========================================================================================
  File Name: AdminEdit.vue
  Description: Admin Edit Page
  ----------------------------------------------------------------------------------------
  Item Name: Tadween - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/admin/pixinvent
========================================================================================== -->

<template>
  <div id="page-admin-edit">

    <vs-alert color="danger" title="Packages Not Found" :active.sync="packages_not_found">
      <span>Packages record with id: {{ $route.params.packagesId }} not found. </span>
      <span>
        <span>Check </span><router-link :to="{name:'page-packages-list'}" class="text-inherit underline">All Packages</router-link>
      </span>
    </vs-alert>

    <vx-card v-if="packages_data">

      <div slot="no-body" class="tabs-container px-6 pt-6">

        <vs-tabs v-model="activeTab" class="tab-action-btn-fill-conatiner">
          <vs-tab label="Edit" icon-pack="feather" icon="icon-packages">
            <div class="tab-text">
              <packages-edit-tab-account @change_tab="chnage_tab" class="mt-4" :data="packages_data" />
            </div>
          </vs-tab>

        </vs-tabs>

      </div>

    </vx-card>
  </div>
</template>

<script>
import PackagesEditTabAccount from './PackagesEditTabAccount.vue'

// Store Module
import moduleECommerce from '@/store/eCommerce/moduleECommerce.js'

export default {
  components: {
      PackagesEditTabAccount
  },
  data () {
    return {
      packages_data: null,
      packages_not_found: false,

      /*
        This property is created for fetching latest data from API when tab is changed

        Please check it's watcher
      */
      activeTab: 0
    }
  },
  watch: {
    activeTab () {
      this.fetch_packages_data(this.$route.params.packagesId)
    }
  },
  methods: {
    showUpdatedSuccess () {
      this.$vs.notify({
        color: 'success',
        title: 'Packages Updated',
        text: 'Packages was successfully updated'
      })
    },

    fetch_packages_data (packagesId) {
      this.$store.dispatch('moduleECommerce/fetchPackage', packagesId)
        .then(res => {
          this.packages_data = res.data
        })
        .catch(err => {
          if (err.response.status === 404) {
            this.packages_not_found = true
            return
          }
          console.error(err)
        })

    },
    chnage_tab(tab) {
        this.activeTab = tab;
        this.showUpdatedSuccess();
    }
  },
  created () {
    // Register Module PackagesManagement Module
    if (!moduleECommerce.isRegistered) {
      this.$store.registerModule('moduleECommerce', moduleECommerce)
        moduleECommerce.isRegistered = true
    }
    this.fetch_packages_data(this.$route.params.packagesId)
  }
}

</script>
