<template>
    <div :style="{'direction': $vs.rtl ? 'rtl' : 'ltr'}">
      <feather-icon icon="TypeIcon" svgClasses="h-5 w-5 mr-4 hover:text-primary cursor-pointer" @click="translation" />
        <feather-icon icon="Edit3Icon" svgClasses="h-5 w-5 mr-4 hover:text-primary cursor-pointer" @click="editRecord" />
      <feather-icon icon="Trash2Icon" svgClasses="h-5 w-5 hover:text-danger cursor-pointer" @click="confirmDeleteRecord" />
    </div>
</template>

<script>
export default {
  name: 'CellRendererActions',
  data:()=>{
    return{
      id:''
    }
  },
  created(){
    this.id = this.params.value;
  },
  methods: {

    translation () {
      this.$router.push(`/dashboard/language/translation/${this.id}`).catch(() => {})
    },

    editRecord () {
      this.$router.push(`/dashboard/language/language-edit/${this.id}`).catch(() => {})
    },
    confirmDeleteRecord () {
      this.$vs.dialog({
        type: 'confirm',
        color: 'danger',
        title: 'Confirm Delete',
        text: `You are about to delete "${this.params.data.name}"`,
        accept: this.deleteRecord,
        acceptText: 'Delete'
      })
    },
    deleteRecord () {

      this.$store.dispatch("language/removeLanguage", this.id)
        .then(()   => {
          this.$router.push({name:'dashboard-language-list'});
          this.showDeleteSuccess()
        })
        .catch(err => { console.error(err)       })

    },
    showDeleteSuccess () {
      this.$vs.notify({
        color: 'success',
        title: 'Language Deleted',
        text: 'The selected language was successfully deleted'
      })
    }
  }
}
</script>
