<!-- =========================================================================================
  File Name: UserCreateTabInformation.vue
  Description: User Create Information Tab content
  ----------------------------------------------------------------------------------------
  Item Name: Tadween - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->

<template>
  <div id="user-edit-tab-info">

    <!-- Avatar Row -->
    <div class="vx-row">
      <div class="vx-col w-full">
        <div class="flex items-start flex-col sm:flex-row">
          <img :src="current_photo" class="mr-8 rounded h-24 w-24" />
           <vs-photo :src="partners.photo" size="80px" class="mr-4" />
          <div>
<!--            <p class="text-lg font-medium mb-2 mt-4 sm:mt-0">{{ partners.name  }}</p>-->
            <input type="file" class="hidden" ref="update_photo_input" @change="update_photo" accept="image/*">
            <vs-button type="border" class="mr-4" @click="$refs.update_photo_input.click()">Partner Image</vs-button>
          </div>
        </div>
      </div>
    </div>


    <!-- Save & Reset Button -->
    <div class="vx-row">
      <div class="vx-col w-full">
        <div class="mt-8 flex flex-wrap items-center justify-end">
          <vs-button class="ml-auto mt-2" @click="save_changes" :disabled="!validateForm">Save Changes</vs-button>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import vSelect from 'vue-select'

export default {
  components: {
    vSelect,
  },
  props: {
  },
  async created(){

    await this.$store.dispatch('moduleECommerce/currentNewPartner').then( partners => {
        this.partners = partners;
        this.current_photo = this.partners.photo;
    });

  },
  data() {
    return {
      partners: {},
      current_photo: "default.png",
    }
  },
  computed: {
    validateForm () {
      return !this.errors.any()
    }
  },
  methods: {
    capitalize (str) {

      return str.slice(0, 1).toUpperCase() + str.slice(1, str.length)
    },
    showError (message) {
      this.$vs.notify({
        color: 'danger',
        text: message
      })
    },
    showCreatedSuccess () {
      this.$vs.notify({
        color: 'success',
        title: 'Partner Created',
        text: 'Partner was successfully created'
      })
    },
    save_changes () {
      /* eslint-disable */
      if (!this.validateForm) return

      this.$store.dispatch('moduleECommerce/saveNewPartner' , this.partners).then( res =>{

        this.$router.push({name:'dashboard-partners-list'});
        this.showCreatedSuccess()

      }).catch(err =>{

        this.showError(err);

      });

    },
    reset_user() {
      this.partners = JSON.parse(JSON.stringify(this.partners));
    },
    update_photo (event) {

      var file = event.target.files[0];

      this.partners.photo = file;
      this.current_photo = URL.createObjectURL(file);
    }

  }
}
</script>
