<!-- =========================================================================================
  File Name: UserCreateTabInformation.vue
  Description: User Create Information Tab content
  ----------------------------------------------------------------------------------------
  Item Name: Tadween - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->

<template>
  <div id="user-edit-tab-info">

    <!-- Avatar Row -->
<!--    <div class="vx-row">-->
<!--      <div class="vx-col w-full">-->
<!--        <div class="flex items-start flex-col sm:flex-row">-->
<!--          <img :src="current_photo" class="mr-8 rounded h-24 w-24" />-->
<!--          &lt;!&ndash; <vs-photo :src="packages.photo" size="80px" class="mr-4" /> &ndash;&gt;-->
<!--          <div>-->
<!--            <p class="text-lg font-medium mb-2 mt-4 sm:mt-0">{{ packages.name  }}</p>-->
<!--            <input type="file" class="hidden" ref="update_photo_input" @change="update_photo" accept="image/*">-->
<!--            <vs-button type="border" class="mr-4" @click="$refs.update_photo_input.click()">Photo News</vs-button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

    <!-- Content Row -->
    <div class="vx-row">
      <div class="vx-col md:w-1/2 w-full">

        <vs-input class="w-full mt-4" label="Title Arabic" v-model="packages.title_ar" v-validate="'required'" name="title_ar" />
        <span class="text-danger text-sm"  v-show="errors.has('title_ar')">{{ errors.first('title_ar') }}</span>

          <div class="mt-5">
              <vs-textarea class="w-full" label="Description Arabic" v-model="packages.description_ar" v-validate="'required'" name="description_ar" />
              <span class="text-danger text-sm"  v-show="errors.has('description_ar')">{{ errors.first('description_ar') }}</span>
          </div>

      </div>

        <div class="vx-col md:w-1/2 w-full">
            <vs-input class="w-full mt-4" label="Title English" v-model="packages.title_en" v-validate="'required'" name="title_en" />
            <span class="text-danger text-sm"  v-show="errors.has('title_en')">{{ errors.first('title_en') }}</span>

            <div class="mt-5">
                <vs-textarea class="w-full" label="Description English" v-model="packages.description_en" v-validate="'required'" name="description_en" />
                <span class="text-danger text-sm"  v-show="errors.has('description_en')">{{ errors.first('description_en') }}</span>
            </div>

      </div>

        <div class="vx-col md:w-1/2 w-full">


            <vs-input class="w-full mt-4" label="Price" v-model="packages.price" v-validate="'required|numeric'" name="price" />
            <span class="text-danger text-sm"  v-show="errors.has('price')">{{ errors.first('price') }}</span>

            <vs-input class="w-full mt-4" label="Salesman (num)" v-model="packages.salesman" v-validate="'required|numeric'" name="salesman" />
            <span class="text-danger text-sm"  v-show="errors.has('salesman')">{{ errors.first('salesman') }}</span>

            <vs-input class="w-full mt-4" label="Number of Customers (num)" v-model="packages.number_of_customers" v-validate="'required|numeric'" name="number_of_customers" />
            <span class="text-danger text-sm"  v-show="errors.has('number_of_customers')">{{ errors.first('number_of_customers') }}</span>
        </div>

      <div class="vx-col md:w-1/2 w-full">

        <vs-input class="w-full mt-4" label="Number of Admins (num)" v-model="packages.number_of_admins" v-validate="'required|numeric'" name="number_of_admins" />
        <span class="text-danger text-sm"  v-show="errors.has('number_of_admins')">{{ errors.first('number_of_admins') }}</span>

        <vs-input class="w-full mt-4" label="Number Of Product (num)" v-model="packages.number_of_product" v-validate="'required|numeric'" name="number_of_product" />
        <span class="text-danger text-sm"  v-show="errors.has('number_of_product')">{{ errors.first('number_of_product') }}</span>

      </div>

    </div>

    <!-- Save & Reset Button -->
    <div class="vx-row">
      <div class="vx-col w-full">
        <div class="mt-8 flex flex-wrap items-center justify-end">
          <vs-button class="ml-auto mt-2" @click="save_changes" :disabled="!validateForm">Save Changes</vs-button>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import vSelect from 'vue-select'

export default {
  components: {
    vSelect,
  },
  props: {
  },
  async created(){

    await this.$store.dispatch('moduleECommerce/currentNewNews').then( packages => {
        this.packages = packages;
        this.current_photo = this.packages.photo;
    });

  },
  data() {
    return {
      packages: {},
    }
  },
  computed: {
    validateForm () {
      return !this.errors.any()
    }
  },
  methods: {
    capitalize (str) {

      return str.slice(0, 1).toUpperCase() + str.slice(1, str.length)
    },
    showError (message) {
      this.$vs.notify({
        color: 'danger',
        text: message
      })
    },
    showCreatedSuccess () {
      this.$vs.notify({
        color: 'success',
        title: 'Package Created',
        text: 'Package was successfully created'
      })
    },
    save_changes () {
      /* eslint-disable */
      if (!this.validateForm) return

      this.$store.dispatch('moduleECommerce/saveNewPackage' , this.packages).then( res =>{

        this.$router.push({name:'dashboard-packages-list'});
        this.showCreatedSuccess()

      }).catch(err =>{

        this.showError(err);

      });

    },
    reset_user() {
      this.package = JSON.parse(JSON.stringify(this.packages));
    },

  }
}
</script>
