<template>
    <div :style="{'direction': $vs.rtl ? 'rtl' : 'ltr'}">
      <feather-icon icon="Edit3Icon" svgClasses="h-5 w-5 mr-4 hover:text-primary cursor-pointer" @click="editRecord" />
      <feather-icon icon="Trash2Icon" svgClasses="h-5 w-5 hover:text-danger cursor-pointer" @click="confirmDeleteRecord" />
    </div>
</template>

<script>
export default {
  name: 'CellRendererActions',
  data:() => {
    return {
      id:''
    }
  },
  created () {
    this.id = this.params.value
  },
  methods: {

    editRecord () {
      this.$router.push(`/dashboard/services/services-edit/${this.id}`).catch(() => {})
    },
    confirmDeleteRecord () {
      this.$vs.dialog({
        type: 'confirm',
        color: 'danger',
        title: 'Confirm Delete',
        text: `You are about to delete "${this.params.data.title}"`,
        accept: this.deleteRecord,
        acceptText: 'Delete'
      })
    },
    deleteRecord () {

      this.$store.dispatch('moduleECommerce/removeServices', this.id)
        .then(()   => {
          this.$router.push({name:'dashboard-services-list'})
          this.showDeleteSuccess()
        })
        .catch(err => { console.error(err)
        })

    },
    showDeleteSuccess () {
      this.$vs.notify({
        color: 'success',
        title: 'Services Deleted',
        text: 'The selected Service was successfully deleted'
      })
    }
  }
}
</script>
