/* navbar */

.navbar-light{
    background-color: #fff !important;
    border: 1px solid #EBEBEB;
    box-shadow: 0px 6px 48px rgba(0, 0, 0, 0.07);
    .navbar-brand{

    }
    .navbar-toggler{
        .navbar-toggler-icon{

        }
    }
    .navbar-collapse{
        .navbar-nav{
            .nav-item{
                margin-right: 50px;
                position: relative;
                .nav-link{
                    font-weight: 600;
                    line-height: 22px;
                    color: #525252;
                }
                img{
                    position: absolute;
                    bottom: -26px;
                    left: 0;
                    right: 0;
                    margin: auto;
                    @media #{$mediumAndLess}{
                        display: none;
                    }
                }
            }
        }
        .navbar-nav:last-child {
            .nav-item{
                margin-right: 0;
                .nav-link{
                    width: 160px;
                    height: 54px;
                    background: rgba(206, 242, 240, 0.88);
                    border-radius: 4px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @media #{$mediumAndLess} {
                        font-weight: 600;
                        line-height: 22px;
                        color: #525252;
                         background: #fff;
                        display: inline-block;
                        height: auto;
                    }
                }
            }
        }
        .navbar-nav{
            .active{
                .nav-link{
                    color: $fontColor;
                    font-weight: 700;
                }
            }
        }
    }
    .navbar-toggler{
        border: none;
        .navbar-toggler-icon2{
            background-image:url(../../img/menu-icon.png);
        }
    }
}
