<!-- =========================================================================================
  File Name: AdminCreate.vue
  Description: Admin Create Page
  ----------------------------------------------------------------------------------------
  Item Name: Tadween - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/news/pixinvent
========================================================================================== -->

<template>
  <div id="page-news-create">


    <vx-card>

      <div slot="no-body" class="tabs-container px-6 pt-6">

        <vs-tabs v-model="activeTab" class="tab-action-btn-fill-conatiner">
          <vs-tab label="New" icon-pack="feather" icon="icon-news">
            <div class="tab-text">
              <news-create-tab-account @change_tab="chnage_tab" class="mt-4" />
            </div>
          </vs-tab>
        </vs-tabs>

      </div>

    </vx-card>
  </div>
</template>

<script>
import NewsCreateTabAccount     from './NewsCreateTabAccount.vue'

// Store Module
import moduleECommerce from '@/store/eCommerce/moduleECommerce.js'

export default {
  components: {
    NewsCreateTabAccount
  },
  data () {
    return {
      news_data: null,
      news_not_found: false,

      /*
        This property is created for fetching latest data from API when tab is changed

        Please check it's watcher
      */
      activeTab: 0
    }
  },
  methods: {

    chnage_tab(tab){
        this.activeTab = tab;
    }

  },
  created () {
    // Register Module AdminManagement Module
    if (!moduleECommerce.isRegistered) {
      this.$store.registerModule('moduleECommerce', moduleECommerce)
        moduleECommerce.isRegistered = true
    }


  }
}

</script>
