<!-- =========================================================================================
  File Name: UserCreateTabInformation.vue
  Description: User Create Information Tab content
  ----------------------------------------------------------------------------------------
  Item Name: Tadween - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/partners/pixinvent
========================================================================================== -->

<template>
  <div id="user-edit-tab-info">

    <!-- Avatar Row -->
    <div class="vx-row">
      <div class="vx-col w-full">
        <div class="flex items-start flex-col sm:flex-row">
          <img :src="current_photo" class="mr-8 rounded h-24 w-24" />
          <!-- <vs-photo :src="admin.photo" size="80px" class="mr-4" /> -->
          <div>
            <p class="text-lg font-medium mb-2 mt-4 sm:mt-0">{{ partners.name  }}</p>
            <input type="file" class="hidden" ref="update_photo_input" @change="update_photo" accept="image/*">
            <vs-button type="border" class="mr-4" @click="$refs.update_photo_input.click()">Change Avatar</vs-button>
          </div>
        </div>
      </div>
    </div>

    <!-- Content Row -->
    <!-- Save & Reset Button -->
    <div class="vx-row">
      <div class="vx-col w-full">
        <div class="mt-8 flex flex-wrap items-center justify-end">
          <vs-button class="ml-auto mt-2" @click="save_changes" :disabled="!validateForm">Save Changes</vs-button>
          <vs-button class="ml-4 mt-2" type="border" color="warning" @click="reset_partners">Reset</vs-button>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import vSelect from 'vue-select'

export default {
  components: {
    vSelect
  },
  props: {
    data:'',
  },
  async created(){

  },
  data() {
    return {
      partners: this.data,
      current_photo:this.data.photo,
      id:''
    }
  },
  computed: {
    validateForm () {
      return !this.errors.any()
    }
  },
  methods: {
    capitalize (str) {

      return str.slice(0, 1).toUpperCase() + str.slice(1, str.length)
    },
    showError (message) {
      this.$vs.notify({
        color: 'danger',
        text: message
      })
    },
    showCreatedSuccess () {
      this.$vs.notify({
        color: 'success',
        title: 'Partners Updated',
        text: 'Partners was successfully updated'
      })
    },
    save_changes () {

      this.$store.dispatch('moduleECommerce/updatePartners' , this.partners).then( res => {

        this.$router.push({name:'dashboard-partners-list'});
        this.showCreatedSuccess()

      }).catch(err =>{

        this.showError(err);

      });

    },
    reset_partners() {
      this.partners = JSON.parse(JSON.stringify(this.partners));
    },
    update_photo (event) {

      let file = event.target.files[0];

      this.partners.photo = file;
      this.current_photo = URL.createObjectURL(file);
    }

  }
}
</script>
